@import "compass/css3";

html { height: 100%; overflow-y: scroll; }

body {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-repeat:repeat-y;
	font-size:11px!important;
}

a { color:#555; }
a:hover { color:#000; }

blockquote { margin:6px 10px; background-color:#EEE; padding:5px; color:#555; border:1px solid #CCC; }

form { margin:0px; }

#Header {
	height:1px;
	color:#FFF;
	background-color:#000;
}

#Header a:link { color:#FFF; text-decoration:none; }
#Header a:visited { color:#FFF; text-decoration:none; }
#Header a:active { color:#FFF; text-decoration:none; }
#Header a:hover { color:#CCC;  text-decoration:underline; }
td.FieldLabel {
	vertical-align:top;
}
td.FieldInput {
	vertical-align:top;
}
#HeaderNav {
background-image:image-url('Header_NavBG.gif');
clear:both;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
height:29px;
margin:0 auto;
width:960px;
}
#HeaderNav a {     
    color: #FFFFFF !important;
    font-size: 12px;
    text-decoration: none;
}
#HeaderNav a:hover { background-color:rgba(255,255,255,0.1); }

a.HeaderTabOn:hover {  background-color:rgba(255,255,255,0.1)!important; }
#HeaderNav img { float:left;}
.HeaderSubNav {
clear:both;
margin:0 auto;
width:960px;
}
.HeaderSubNav a {color:#FFFFFF;
float:left;
line-height:28px;
padding:0 15px;
text-decoration:none;}
.HeaderSubNav a:hover { background-color:rgba(255,255,255,0.1);
color:#FFFFFF;
text-decoration:none;}

a.HeaderTab { color:#FFF; padding:7px 15px; float:left; text-decoration:none; }


#HeaderLoggedIn { text-align:right; padding-right:8px; }

p,h1,pre {
	margin:0px 10px 10px 10px;
}

div#ajax-issue { 
background-color:#F7F7F7;
border:4px solid #000000;
height:100px;
left:50%;
margin-left:-320px;
margin-top:-140px;
padding:10px;
position:absolute;
top:50%;
width:500px;
display:none;
}

div#ajax-issue-title { font-size:18px;
margin-bottom:8px; }
div#ajax-issue-details { font-size:12px;
margin:5px 0; }
div#ajax-issue-buttons { padding:5px 0; }

#Content { clear:both;
display:block;
margin-top:9px;
padding:0;
position:relative; }
.ContentTitle { font-size:22px; color:#000; padding-bottom:0px; clear:both; }

#MainContainer { 
	@include background(linear-gradient(center top , #F7F7F7, #FFFFFF));
	padding-bottom:30px; 
}

#Footer { clear:both; }
#FooterContent { font-size:10px; padding:10px 10px 10px 10px; }

#FuseboxDebugging { background-color:#333333; color:#FFFFFF; margin-left:146px; padding:6px 10px; }
#FuseboxDebugging td { background-color:#555555; }


.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
	padding:4px 0px;
}

.clear-fix { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
	padding:0px 0px;
}

div.DataGridTitle { height:15px; width:100%; padding:3px 0px; font-weight:bold; font-size:12px; color:#15428b; font-family:Arial, Helvetica, sans-serif; }
span.DataGridDesc { font-size:10px; font-weight:normal; color:#000; }

div.DataGridPager { padding:5px 0px; font-size:11px; }
div.DataGridPager a:link { color:#000; text-decoration:none; }
div.DataGridPager a:active { color:#000; text-decoration:none; }
div.DataGridPager a:visited { color:#000; text-decoration:none; }
div.DataGridPager a:hover { color:#000; text-decoration:none; }

table.DataGrid { border:1px solid #CCC; }

table.DataGrid thead tr { 
	background-image:url(../_images/DataGrid_HeaderOff.gif); 
	height:14px; 
}

table.DataGrid thead tr th {
	font-weight:normal; 
	text-align:left; 
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	
}

table.DataGrid thead tr th a:link { color:#000; text-decoration:none;padding:4px; display:block; }
table.DataGrid thead tr th a:active { color:#000; text-decoration:none;padding:4px; display:block; }
table.DataGrid thead tr th a:visited { color:#000; text-decoration:none;padding:4px; display:block; }
table.DataGrid thead tr th a:hover { color:#000; text-decoration:none;padding:4px; display:block; background-image:url(../_images/DataGrid_HeaderOn.gif); }

table.DataGrid tbody tr {  
	height:14px; 
}

table.DataGrid tbody tr td {
	font-weight:normal; 
	text-align:left; 
	font-size:12px; 
	padding:4px;
	font-family:Arial, Helvetica, sans-serif; 
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	
}

table.DataGrid tbody tr.RowDeleted td { cursor:default; color:#999 !important;;font-style:italic; }
table.DataGrid tbody tr.RowDeleted td a { cursor:default; color:#999 !important;font-style:italic; }

table.DataGrid tbody tr td a:link { color:#555; text-decoration:underline; }
table.DataGrid tbody tr td a:active { color:#555; text-decoration:underline; }
table.DataGrid tbody tr td a:visited { color:#555; text-decoration:underline; }
table.DataGrid tbody tr td a:hover { color:#000; text-decoration:underline; }

div.DataGridButton { float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
div.DataGridButton a:link { padding:4px 2px; color:#000; text-decoration:none; font-weight:normal; }
div.DataGridButton a:active { padding:4px 2px; color:#000; text-decoration:none; font-weight:normal; }
div.DataGridButton a:visited { padding:4px 2px; color:#000; text-decoration:none; font-weight:normal; }
div.DataGridButton a:hover { padding:4px 2px; color:#003366; text-decoration:none; font-weight:normal; }

div.DataGridButtonDisabled { float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
div.DataGridButtonDisabled a:link { padding:4px 2px; color:#CCC; text-decoration:none; }
div.DataGridButtonDisabled a:active { padding:4px 2px; color:#CCC; text-decoration:none; }
div.DataGridButtonDisabled a:visited { padding:4px 2px; color:#CCC; text-decoration:none; }
div.DataGridButtonDisabled a:hover { padding:4px 2px; color:#CCC; text-decoration:none; }

select.fieldinput { padding:3px 3px 3px 3px; background-color:#F1FCE2; height:27px;border:1px solid #507F0A !important; }
input.fieldinput { padding:3px 3px 3px 3px; background-color:#F1FCE2; border:1px solid #507F0A !important; }
textarea.fieldinput { padding:3px 3px 3px 3px; background-color:#F1FCE2; border:1px solid #507F0A !important; }
/*.button { 
font-family:Arial, Helvetica, sans-serif;
background-image:url(/admin/_images/Button_BG.gif);
background-repeat:repeat-x;
border:1px solid #507F0A !important;
color:#FFFFFF !important;
font-size:100% !important;
font-weight:bold;
padding: 4px 10px !important;
width:auto !important;
  }

.button:hover { border:1px solid #abe654 !important; cursor:pointer; }*/


/* CONTENT */
.ContentBody { padding-top:4px;font-size:12px; font-weight:normal; color:#000000; }

/* TABBING */
.TabContainer { height:23px;background-image:url(/View/System/2/Images/TabContainerBG.gif); width:95%; border:1px solid #276788; padding:1px; }
.TabItem { margin-right:1px; background-image:url(/View/System/2/Images/TabItemBG.gif); width:90px; float:left; text-align:center;}
.TabItem a:link { color:#FFF; padding:5px 5px; display:block; text-decoration:none;   }
.TabItem a:active { color:#FFF; padding:5px 5px; display:block; text-decoration:none;  }
.TabItem a:visited { color:#FFF; padding:5px 5px; display:block; text-decoration:none;  }
.TabItem a:hover { color:#FFF; background-image:url(/View/System/2/Images/TabItemOnBG.gif); padding:5px 5px; display:block; text-decoration:none; background-image:url(/View/System/2/Images/TabItemOnBG.gif);  }

.TabItemSelected { margin-right:1px;  background-image:url(/View/System/2/Images/TabSelectedBG.gif); width:90px; float:left; text-align:center; }
.TabItemSelected a:link { color:#FFF;padding:5px 5px;display:block; text-decoration:none;   }
.TabItemSelected a:active { color:#FFF;padding:5px 5px;display:block; text-decoration:none;  }
.TabItemSelected a:visited { color:#FFF;padding:5px 5px;display:block; text-decoration:none;  }
.TabItemSelected a:hover { color:#FFF; background-image:url(/View/System/2/Images/TabSelectedOnBG.gif); padding:5px 5px;display:block; text-decoration:none;  }

.TabItemDisabled { margin-right:1px;  background-image:url(/View/System/2/Images/TabItemBG.gif); width:90px; float:left; text-align:center; }
.TabItemDisabled a:link { cursor:default; color:#CCC; font-style:italic; padding:5px 5px;display:block; text-decoration:none;   }
.TabItemDisabled a:active { cursor:default; color:#CCC; font-style:italic; padding:5px 5px;display:block; text-decoration:none;  }
.TabItemDisabled a:visited { cursor:default; color:#CCC; font-style:italic; padding:5px 5px;display:block; text-decoration:none;  }
.TabItemDisabled a:hover { cursor:default; color:#CCC; font-style:italic; padding:5px 5px;display:block; text-decoration:none;  }

.TabContent {  padding:1px;width:95%; background-image:url(/View/System/2/Images/TabContentBG.gif); background-repeat:repeat-x; border-left:1px solid #276788; border-right:1px solid #276788; border-bottom:1px solid #276788; }
.TabContent table { margin:5px 8px; }

table.TableBasic thead tr th {
	font-weight:bold;
	border-bottom:1px dashed #000000;
	text-align:left;
}

table.TableBasic tbody tr td a:link { font-family: Arial, Helvetica, sans-serif; color:#000; text-decoration:none; }
table.TableBasic tbody tr td a:active { font-family: Arial, Helvetica, sans-serif; color:#000; text-decoration:none; }
table.TableBasic tbody tr td a:visited { font-family: Arial, Helvetica, sans-serif; color:#000; text-decoration:none; }
table.TableBasic tbody tr td a:hover { font-family: Arial, Helvetica, sans-serif; color:#555; text-decoration:none; }

div.Pod { border:1px solid #CCC; width:100%; margin: 0px 0px 5px 0px; }
div.PodTitle { cursor:default; background-image:url(../_images/DataGrid_HeaderOff.gif); background-color:#EEE; font-weight:bold; height:20px; padding:3px 7px; font-size:13px;  }
div.PodTitleOn { background-image:url(../_images/DataGrid_HeaderOn.gif); background-color:#EFEFEF;font-weight:bold; padding:5px; }
div.PodContent { background-color:#F7F7F7; padding:5px; }
div.PodContent a:link { color:#000; text-decoration:none; }
div.PodContent a:active { color:#000; text-decoration:none; }
div.PodContent a:visited { color:#000; text-decoration:none; }
div.PodContent a:hover { color:#000; text-decoration:none; }

div.PodList { }
div.PodListItem { padding: 3px 0px 3px 12px; }
.placeholder { background-color:#f2efd4; filter:alpha(opacity=45);-moz-opacity:.45;opacity:.45; }



div.clear-tables {
	display: block;
	overflow: hidden;
	height: 100%;
	margin-bottom: 20px;

}

#Breadcrumbs {
display:none;
font-size:12px;
margin:3px auto;
padding-bottom:7px;
width:960px;
}
#Breadcrumbs a:link { background-image:url("../_images/DataGrid_HeaderOff.gif");
border-color:#FFFFFF #CCCCCC #CCCCCC;
border-right:1px solid #CCCCCC;
border-style:solid;
border-width:1px;
color:#000000;
display:block;
float:left;
padding:1px 7px;
text-decoration:none; }
#Breadcrumbs a:active { float:left; display:block; color:#000; padding:1px 7px;border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF; text-decoration:none; background-image:url(../_images/DataGrid_HeaderOff.gif); }
#Breadcrumbs a:visited { float:left; display:block; color:#000; padding:1px 7px;border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF; text-decoration:none; background-image:url(../_images/DataGrid_HeaderOff.gif); }
#Breadcrumbs a:hover { float:left; display:block; color:#000; padding:1px 7px;border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF; text-decoration:none; background-image:url(../_images/DataGrid_HeaderOn.gif); }
	
div.Errors { color: #FF0000; background-color:#FFE8E9; border:1px solid #FF0000; padding:6px; font-weight:bold; }

div.PhotoItem { width:150px; height:195px; float:left; text-align:center; padding:6px; margin:5px; }
div.Photo { height:150px;  width:150px; }
div.PhotoOptions { padding:0px 4px; width:150px; }
div.PhotoOptions a:link { color:#555; text-decoration:none; font-size:12px; padding:0px 3px; }
div.PhotoOptions a:active { color:#555; text-decoration:none; font-size:12px; padding:0px 3px; }
div.PhotoOptions a:hover { color:#006600; text-decoration:none; font-size:12px; padding:0px 3px; }
div.PhotoOptions a:visited { color:#555; text-decoration:none; font-size:12px; padding:0px 3px; }
div.PhotoOptions img { margin:0px; padding:0px; }

table.FileContainer { border: 1px solid #CCCCCC; }
tr.FileItem { background-color:#EEE; border:1px solid #CCC; spacing:6px; margin:2px; }
div.File { border:1px dashed #CCC; }
td.FileOptions { padding:4px; text-align:right; }
td.FileOptions a:link { color:#555; text-decoration:none; font-size:12px; }
td.FileOptions a:active { color:#555; text-decoration:none; font-size:12px; }
td.FileOptions a:hover { color:#006600; text-decoration:none; font-size:12px; }
td.FileOptions a:visited { color:#555; text-decoration:none; font-size:12px; }
td.FileTitle { padding:4px; float:left;}

div.ListBoxLinks a:link { color:#000; text-decoration:none; }
div.ListBoxLinks a:active { color:#000; text-decoration:none; }
div.ListBoxLinks a:visited { color:#000; text-decoration:none; }
div.ListBoxLinks a:hover { color:#000; text-decoration:none; }

#UserBar {
	display: none;
}

.header-bg {
    background-color: #31678D;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
	@include box-shadow(0 3px 0 #8BB7D5);
}
html>body #UserBar {
display: block;
position: fixed;
text-align: center;
bottom: 0;
height:150px;
width: 100%;
border-bottom: #ddd;
display:none;
color: #999999;
background-color:#EEE;
clear: both;
padding:15px 1px 1px 0;
}

#BottomBar {
	display: none;
}

html > body #BottomBar {
    clear: both;
    color: #FFFFFF !important;
    cursor: default;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 960px;
	height:43px;
}


#BottomBar a { color:#FFF; }
#BottomBarTitle {
    float: left;
    text-align: left;
    width: 130px;
}
#BottomBarTitle a {
    color: white;
    display: block;
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    height: 40px;
    letter-spacing: -0.05em;
    line-height: 40px;
    padding: 1px 3px 0 8px;
    text-decoration: none;
}
#BottomBarTitle a:hover {
  background-color: rgba(255, 255, 255, 0.04);
    color: #FFFFFF;
    text-decoration: none;

}

#BottomBarLinks { height:24px;float:right; text-align:left; padding-right:4px; }
#BottomBarLinks a.BottomLink {
float:left;
padding:7px 8px;
text-decoration:none;
}
#BottomBarLinks a.BottomLink:hover { text-decoration:none; background-color:#333; }
#BottomBarLinks a.SuppLink { float:left; border-left:1px solid #333; }
#BottomBarLinks a.SuppLink:hover { float:left; border-left:1px solid #333; background-color:#000; }


#BodyWrapper {
margin:auto;
padding-bottom:160px;
width:960px;
}

div.pagination {
	padding:3px;
	margin:3px;
	text-align:left;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

div.pagination span.next {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

div.pagination span.previous {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

#CP_hourcont {
padding: 0px;
z-index:5000;
position:absolute;
border:1px dashed #666666;
background-color:#eeeeee;
display:none;
}

#CP_minutecont {
background-color:#dddddd;
padding: 1px;
z-index:5000;
position:absolute;
width:45px;
display:none;
}

.floatleft {
float:left;
}

.CP_hour {
padding:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:35px;
}

.CP_minute {
padding:1px;
/*background-color:#dddddd;*/
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
}

.CP_over {
background-color:#ffffff;
}
.Loading { text-align:center; padding:50px; height:100px; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#555; }
.Loading div { padding:3px; color:#999999; }

.jclock {
color:#FFFFFF;
left:900px;
position:absolute;
top:39px;
}