.vr {
    border-left: 1px solid #275577;
    border-right: 1px solid #36698E;
    display: block;
    float: right;
    height: 26px;
    margin: 6px 3px 1px;
}
.header-search {
    left: 50%;
    margin-left: -277px;
    padding-top: 7px;
    position: absolute;
    top: 3px;
    z-index: 100;
}
.uiSearchInput {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #2C5B7D #214D6D #12344D;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}
.uiSearchInput button span {
    display: none;
}
.uiSearchInput input {
    width: 315px !important;
}
.uiSearchInput input {
    border-color: -moz-use-text-color #E5E5E5 -moz-use-text-color -moz-use-text-color !important;
    border-style: none solid none none;
    border-width: 0 1px 0 0 !important;
    margin: 0 22px 0 5px !important;
    outline: medium none;
    padding: 1px 5px 2px 0;
    width: 190px;
}
.inputtext, .inputpassword {
    margin: 0;
    padding-bottom: 4px;
}
.uiSearchInput span.fieldWrapper {
    border-style: solid none none;
}
.uiSearchInput span.fieldWrapper {
    border-color: #EDEDED -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: inline-block;
    padding: 1px 0 2px;
    position: relative;
}
.uiSearchInput button {
    background-color: #FFFFFF;
    background-image: url("/static/images/sprites/header_sprite.png");
    background-position: 0 -159px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 19px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}

.search-head {
	input {
		font-size:12px;
	}
}

.search-body {
	.search-left {
		float: left;
		width: 124px;
		ul {
			li {
				@include clearfix;
				display:block;
			}
		}
	}
	
	.search-right {
		float: left;
		width: 545px;
	}
}

.UIResultSet_MoreLink {
    display: block;
    padding-top: 4px;
}
.UIResultSet {
    padding: 0 6px;
}
.UIResultSet_SuppressBasePadding {
    padding: 0;
}
.detailedsearch_feature_header {
    background-color: #E9E9E9;
    border: 0 none;
    height: 7px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}
.detailedsearch_feature_header span {
    background-color: #FFFFFF;
    color: gray;
    font-weight: bold;
    padding: 0 5px;
    position: relative;
    top: -4px;
}
.detailedsearch_result {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 5px;
}
.detailedsearch_last_result {
    border-bottom: 0 none;
}
.detailedsearch_actions .detailedseach_action_item {
    white-space: nowrap;
}
.searchResultEvent .detailedsearch_actions .rfloat {
    display: inline;
    float: none;
}
.searchResultEvent .detailedsearch_actions .fbEventStatus {
    display: inline;
}
.searchResultPersonByline .fbProfileBylineFragment {
    display: block;
    width: auto;
}
.searchResultPersonByline .fbProfileBylineIconContainer .fbProfileBylineIcon {
    margin: 0;
}
.searchResultPersonByline .fbProfileBylineIconContainer {
    display: inline-block;
    margin-right: 5px;
    width: 11px;
}
.searchResultPersonByline {
    width: auto;
}

.UIImageBlock_Content {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}
.UIImageBlock_Image {
    float: left;
    margin-right: 5px;
}
.UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image {
    display: block;
}
.UIImageBlock_Ext {
    float: right;
}
.UIImageBlock_ICON_Image {
    margin-right: 5px;
}
.UIImageBlock_ICON_Content {
    padding-top: 1px;
}
.UIImageBlock_SMALL_Image {
    margin-right: 8px;
}
.UIImageBlock_MED_Image, .UIImageBlock_ENT_Image {
    margin-right: 10px;
}
.UIImageBlock_Entity .UIImageBlock_Content {
    height: 50px;
    vertical-align: middle;
}
.UIImageBlock_Entity img.UIImageBlock_Image, .UIImageBlock_Entity i.UIImageBlock_Image, .UIImageBlock_Entity .UIImageBlock_Image .img {
    height: 50px;
    width: 50px;
}
.UIImageBlock_Entity .UIImageBlock_Ext {
    margin-top: 14px;
    padding-left: 8px;
}