#HeaderSubNav { background-color:#901b26; }

a.HeaderTabOn { padding:7px 15px; float:left; text-decoration:none;background-image:url(../_images/Header_Tab5BG.gif); background-color:#a22323; color:#FFF; }



/* CONTENT */
.ContentSubTitle { font-size:13px; font-weight:bold; color:#a22323; padding-top:4px; margin-bottom:4px; border-bottom:1px solid #CCCCCC;  }

.TabControl {  border-bottom:3px solid #901b26; }
.TabControl #current {
	background-color:#901b26;
}
.TabControl #current A {
	background-color:#901b26; PADDING-BOTTOM: 5px; COLOR: #FFF;
}
h2.ContentSectTitle { color:#FFF; background-color:#901b26; }

div.ViewSection h3 { color:#FFF; background-color:#901b26; }

table.ViewSectionGrid thead tr th { background-color:#901b26; color:#FFF; }

table.MultiForm a { text-decoration:none; color:#901b26; }
div.MultiFormRight_LinkList a { display:block;text-decoration:none; padding:5px; color:#901b26; }