@import "base_bootstrap";
#BuildContainer {
  h4 {
    font-weight:bold;
    font-size:13px;
    border-bottom:1px solid #DDD;
    margin-bottom:4px;
  }
  .Component {
    padding: 5px;
    margin: 1px;
    height: 20px;
    background-color: #FFF;

    &.Selected {
      background-color: #EEE;
    }

    &.PlaceHolder {
      background-color: #FDFEDE;
      height:20px;
    }

    &.HD1 {
      background-color: #FFF;
      div.ComponentDisplayName {
        background-color: #FFF;
        font-weight: bold;
        padding-left: 24px;
        font-size: 15px;
      }
    }
    &.HD2 {
      background-color: #FFF;
      div.ComponentDisplayName {
        background-color: #FFF;
        font-weight: bold;
        padding-left: 24px;
        font-size: 13px;
      }
    }
    &.ASEV div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/user_comment.png');
    }
    &.ASPR div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/application_side_contract.png');
    }
    &.ASPO div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/application_side_expand.png');
    }
    &.TX div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/font.png');
    }
    &.FD div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/disk.png');
    }
    &.FV div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/page.png');
    }
    &.ST div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/shield.png');
    }
    &.EC div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/world_link.png');
    }
    &.VID div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/television.png');
    }
    &.AUD div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/sound.png');
    }
    &.TA div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/key.png');
    }
    &.PAY div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/creditcards.png');
    }
    &.HD1 div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/text_heading_1.png');
    }
    &.HD2 div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/text_heading_2.png');
    }
    &.HD3 div.ComponentDisplayName {
      background-image: asset_url('legacy_icons/text_heading_3.png');
    }


    .ComponentHandle {
      margin-right: 3px;
      margin-top: 2px;
      float: left;
      .btn {
        padding: 4px;
      }
    }
    .ComponentDisplayName {
      float: left;
      margin-top: 3px;
      background-repeat: no-repeat;
      background-position: 3px;
      padding-left: 24px;
    }
    .ComponentOptions {
      float: right;
      margin-top: 3px;
      margin-left: 4px;
    }
    .ComponentInfo {
      float: left;
      font-size: 10px;
    }
    
  }

}

#ComponentList {
  display:none;
  .ComponentItem {
    margin: 3px;
    float: left;
    width: 130px;
    padding: 0px 0px 0px 30px;
    background-position: 8px;
    background-repeat: no-repeat;
    a {
      text-decoration: none;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .ComponentDesc {
    font-size: 10px;
    color: #555;
    padding-left: 24px;
    display: none;
  }
  .ComponentItem {
    &.ASEV {
      background-image: asset_url('legacy_icons/user_comment.png');
    }
    &.ASPR {
      background-image: asset_url('legacy_icons/application_side_contract.png');
    }
    &.ASPO {
      background-image: asset_url('legacy_icons/application_side_expand.png');
    }
    &.TX {
      background-image: asset_url('legacy_icons/font.png');
    }
    &.FD {
      background-image: asset_url('legacy_icons/disk.png');
    }
    &.FV {
      background-image: asset_url('legacy_icons/page.png');
    }
    &.ST {
      background-image: asset_url('legacy_icons/shield.png');
    }
    &.EC {
      background-image: asset_url('legacy_icons/world_link.png');
    }
    &.VID {
      background-image: asset_url('legacy_icons/television.png');
    }
    &.AUD {
      background-image: asset_url('legacy_icons/sound.png');
    }
    &.TA {
      background-image: asset_url('legacy_icons/key.png');
    }
    &.PAY {
      background-image: asset_url('legacy_icons/creditcards.png');
    }
    &.HD1 {
      background-image: asset_url('legacy_icons/text_heading_1.png');
    }
    &.HD2 {
      background-image: asset_url('legacy_icons/text_heading_2.png');
    }
    &.HD3 {
      background-image: asset_url('legacy_icons/text_heading_3.png');
    }
  }  
}

