@import "twitter/bootstrap/base";
.finance-table {
  input,select {
    margin-bottom:0;
    padding:0;
    height:26px;
    line-height:26px;
    font-size:11px;
  }

  > thead {
    > tr {
      > th {
        text-align:center;
        > a {
          color:#555;
        }
      }
    }
  }

  .finance-ledger-input {
    .ledger-date-input {
      width:100%;
      text-align:center;
    }
    .ledger-desc-input {

    }
    .ledger-memo-input {

    }
    .ledger-type-input {
      padding:4px 0;
    }
    .ledger-amount-input {
      text-align:right;
    }
    input,select {
      background-color:#EEE;
      border:0;
      //padding:0 0 0 4px;
      width:100%;
      line-height:30px;
      box-shadow:none;
    }
  }

  .finance-fee-col-name {
    width:108px;
  }
  .finance-fee-col-startdate,
  .finance-fee-col-enddate {
    width:180px;
  }
  .finance-fee-col-amount {
    width:50px;
    overflow:hidden;
  }
  .finance-fee-col-options {

  }

  .finance-fee-input {
    .finance-input-amount {
      width:97px;
    }
  }
  .finance-table-row {
    td {
      text-align:center;
      vertical-align:middle;
    }
    .finance-table-row-amount {
      text-align:right;
    }
  }

  .finance-table-input {
    td.finance-input-datetime {
      white-space:nowrap;
      input[type=text] {
        //DATE FIELD
        &:first-child {
          width:63px;
          text-align:center;
          float:left;
        }
        //TIME FIELD
        &:nth-child(2) {
          width:48px;
          text-align:center;
          float:left;
        }
      }
    }
    .finance-input-amount {
      text-align: right;
    }

    td {
      padding:0 3px;
      margin:0;
      text-align:center;
      vertical-align:middle;
      background-color:#EEE;
    }
    select {
      padding:4px 0;
    }
    input,select {
      background-color:#EEE;
      border:0;
      //padding:0 0 0 4px;
      width:100%;
      line-height:30px;
      @include border-radius(0);
      @include box-shadow(none);
      //@include box-shadow(0px 1px 3px #CCC inset);
    }
  }
}