div.ContentSection { margin:3px 0px 10px 0px; }
h2.ContentSectTitle {  padding:5px 5px 3px 5px; margin:0px; font-size:16px; }
h3.ContentSectTitle2 { padding:4px 5px 3px 5px; margin:0px; background-color:#EEE; font-size:13px; }

div.ContentSection p { margin:0px; padding:5px 5px 5px 5px; font-size:13px; }
div.ContentSection p a:link { padding:2px 0px; color:#555; text-decoration:underline; }
div.ContentSection p a:active { padding:2px 0px; color:#555; text-decoration:underline; }
div.ContentSection p a:visited { padding:2px 0px; color:#555; text-decoration:underline; }
div.ContentSection p a:hover { padding:2px 0px; color:#555; text-decoration:underline; }

div.ContentSection p.LinkList { margin:0px; padding:5px 5px 5px 5px; font-size:13px; }
div.ContentSection p.LinkList a:link { padding:2px 0px; color:#555; text-decoration:underline; display:block; }
div.ContentSection p.LinkList a:active { padding:2px 0px; color:#555; text-decoration:underline; display:block; }
div.ContentSection p.LinkList a:visited { padding:2px 0px; color:#555; text-decoration:underline; display:block; }
div.ContentSection p.LinkList a:hover { padding:2px 0px; color:#555; text-decoration:underline; display:block; background-color:#F7F7F7; }

div.Photo {  cursor:pointer; float:left; height:130px; width:130px; text-align:center;  }
.PhotoCaption { font-size:9px; text-align:center; color:#555; width:160px; }
.img-shadow {
  float:left;
  background: url(/lms/_images/shadowAlpha.png) no-repeat bottom right !important;
  background: url(/lms/_images/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  } 