.round {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

* {
margin:0;
padding:0;
}

.AllAttendees i {
	background-image:url(../_images/sprite-icons.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:13px;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	overflow:hidden;
	width:13px;
}

.AllAttendees:hover .user-actions .action-menu button i, .profile-user .AllAttendees .user-actions .action-menu button i, .user-actions .action-menu button.clicked i {
background-position:-32px -64px;
}

.btn, input.btn[type="submit"], input.btn[type="button"] {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-x-system-font:none;
	background:#DDDDDD url(../_images/bg-btn.gif) repeat-x scroll 0 0;
	border-color:#DDDDDD #DDDDDD #CCCCCC;
	border-style:solid;
	border-width:1px;
	color:#333333;
	font-family:"Lucida Grande",Sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:14px;
	margin:0;
	overflow:visible;
	padding:4px 8px 5px;
	text-shadow:1px 1px 0 #FFFFFF;
	width:auto;
}

.btn::-moz-focus-inner {
	border:0 none;
	padding:0;
}

.btn:hover, .btn:focus, input.btn[type="submit"]:hover, input.btn[type="submit"]:focus, button.btn:hover, button.btn:focus {
background-position:0 -6px;
border-color:#999999 #999999 #888888;
color:#000000;
}

.user-actions .action-menu button i {
background-position:0 -64px;
display:block;
margin:1px 7px;
width:22px;
}

.user-actions .menu ul {
background-color:#FFFFFF;
border:1px solid #666666;
display:none;
margin-top:-1px;
padding:4px 0;
position:absolute;
text-align:left;
width:210px;
z-index:9999;
}



.user-actions .menu ul li a, .user-actions .menu ul li label, .user-actions .menu ul li input[type="checkbox"] {
-x-system-font:none;
color:#666666;
display:inline-block;
font-family:'Lucida Grande',Arial,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
padding:4px 5px;
position:relative;
vertical-align:top;
}

.user-actions .menu ul li a {
color:#666666;
display:block;
text-decoration:none;
}

.user-actions .menu ul li a:hover {
color:#FFF;
background-color:#555;
display:block;
font-family:'Lucida Grande',Arial,sans-serif;
text-decoration:none;
font-weight:normal;
font-size:11px;
}

.user-actions .action-menu ul li a {
padding:4px 5px 4px 27px;
}

.AllAttendees .user-actions i {
display:block;
width:15px;
}

.user-actions .menu ul a i {
left:7px;
position:absolute;
top:4px;
width:15px;
}

/* ACTION MENU ITEM ICONS */
.user-actions .remove i {
background-position:-112px -32px;
}

.user-actions .pifform i {
background-position:-192px -32px;
}

.user-actions .togglemd i {
background-position:-144px -32px;
}

.user-actions .credits i {
background-position:-160px -32px;
}

.user-actions .CMECert i {
background-position:-208px -32px;
}

.user-actions .CNECert i {
background-position:-208px -32px;
}

.user-actions .assess i {
background-position:-176px -32px;
}