.ce-dialog { 
border:6px solid #555; background-color:#EEE; position:absolute; overflow:hidden; top:25px; left:50%; 

}
.ce-dialog-titlebar { background-color:#699B1B;
color:#FFFFFF;
font-size:1.3em;
font-weight:bold;
padding:5px 10px 5px 5px; }

.ce-dialog-buttons { background-color:#AAAAAA;
border-top:2px solid #555555;
bottom:0;
padding:5px;
position:absolute;
width:100%; }

.ce-dialog-close { background-image:url(/lms/_images/icon_close_chooser.gif);
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
height:16px;
padding:0 1px 0 0;
position:absolute;
right:6px;
top:6px;
width:16px;}

.ce-dialog-content { padding:5px; }