input[type="text"], input[type="password"], select, textarea {
border:1px solid #AAAAAA;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
-moz-box-shadow:0 0 8px rgba(132, 205, 49, 0.5);
border-color:rgba(132, 205, 49, 0.75) !important;
outline:medium none;
}

fieldset.common-form {
margin:0 0;
width:100%;
}
fieldset.common-form p {
margin:0 0 5px;
}
fieldset.common-form th, fieldset.common-form td {
padding:3px 5px;
vertical-align:top;
}
fieldset.common-form th {
font-weight:normal;
padding-top:10px;
text-align:left;
width:10em;
}
fieldset.common-form small {
color:#777777;
font-size:11px;
}
fieldset.common-form input[type="text"], fieldset.common-form input[type="password"], fieldset.common-form textarea, fieldset.common-form select, fieldset.common-form checkbox {
border:1px solid #AAAAAA;
padding:4px 2px;
}
fieldset.common-form input[type="text"], fieldset.common-form input[type="password"], fieldset.common-form textarea {
-moz-border-radius:3px 3px 3px 3px;
}
fieldset.common-form input[type="text"], fieldset.common-form input[type="password"] {
width:12em;
}
fieldset.common-form input.medium[type="text"], fieldset.common-form textarea.medium {
width:50%;
}
fieldset.common-form input.medium[type="text"] {
-moz-border-radius:3px 3px 3px 3px;
font-size:12px;
}
fieldset.common-form input.wider[type="text"], fieldset.common-form textarea.wider {
width:75%;
}
fieldset.common-form input.widest[type="text"], fieldset.common-form textarea.widest {
width:100%;
}
fieldset.common-form td[colspan="2"] {
text-align:right;
}
fieldset.common-form label {
font-weight:normal;
line-height:24px;
white-space:nowrap;
}
fieldset.common-form ul li {
padding:5px 0;
}
fieldset.common-form ul li label {
display:block;
font-weight:bold;
}
fieldset.common-form ul li label sup {
color:#888888;
}
fieldset.common-form ul.options li {
margin:0;
padding:0;
}
fieldset.common-form ul.options li label {
font-weight:normal;
}
fieldset.common-form table.input-form th {
line-height:24px;
vertical-align:top;
}
p.pseudo-input {
-moz-border-radius:3px 3px 3px 3px;
background:none repeat scroll 0 0 #F3F3F3;
border:1px solid #DDDDDD;
color:#777777;
font:13px/18px Helvetica Neue,Helvetica,Arial,sans-serif !important;
height:18px;
margin:0 !important;
padding:3px 4px;
width:210px;
}
fieldset.common-form .instruction, fieldset.common-form .example, fieldset.common-form .required {
color:#666666;
font-size:x-small;
font-weight:normal;
}
fieldset.common-form .instruction, fieldset.common-form .example {
margin-top:0.5em;
}
fieldset.common-form .example {
font-style:oblique;
}
fieldset.common-form .suggestion {
color:#CC0000;
font-size:10px;
font-weight:bold;
}
fieldset.vertical-form {
margin-bottom:1em;
margin-top:1em;
}
fieldset.vertical-form label, fieldset.vertical-form input {
display:block;
}
fieldset.vertical-form input {
margin-bottom:1em;
margin-top:1em;
}
fieldset.vertical-form input[type="text"] {
width:165px;
}

#settings fieldset.common-form, body.account fieldset.common-form {
margin-top:0;
}
#settings fieldset.common-form select {
border:1px solid #CCCCCC;
}
#settings fieldset.common-form textarea {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #CCCCCC;
font:13px 'Lucida Grande',Arial,sans-serif;
}
#settings fieldset.common-form textarea#user_description {
height:40px;
}
#settings .protected {
background-color:#FFFF99;
}
#settings .protected th {
padding:7px 3px 0 0;
text-align:right;
}
#settings .email-notice {
background-color:#FFFFDD;
color:#777777;
font-size:11px;
padding:5px 7px 3px;
text-align:left;
}

fieldset.common-form input[type="text"], fieldset.common-form input[type="password"], fieldset.common-form textarea, fieldset.common-form select, fieldset.common-form checkbox {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #CCCCCC;
font-size:13px;
padding:4px 5px;
}

fieldset.common-form input[type="text"], fieldset.common-form input[type="password"] {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #CCCCCC;
font-size:13px;
}

.FieldFloater { 
	
}

.FieldFloater span { display:block;
float:left;
height:34px;
margin-right:1px;
position:relative; }

.FieldFloater span label { bottom:0;
color:#555555;
font-size:10px;
position:absolute;
right:0; }


fieldset.horiz-form {
background-color:#EEEEEE;
border:1px solid #CCCCCC;
padding:5px 5px 12px;
}
fieldset.horiz-form p {
margin:0 0 5px;
}
fieldset.horiz-form th, fieldset.horiz-form td {
vertical-align:top;
}
fieldset.horiz-form th {
font-weight:normal;
padding-top:10px;
text-align:left;
width:10em;
}
fieldset.horiz-form small {
color:#777777;
font-size:11px;
}
fieldset.horiz-form input[type="text"], fieldset.horiz-form input[type="password"], fieldset.horiz-form textarea, fieldset.horiz-form select, fieldset.horiz-form checkbox {
border:1px solid #AAAAAA;
padding:4px 2px;
}
fieldset.horiz-form input[type="text"], fieldset.horiz-form input[type="password"], fieldset.horiz-form textarea {
-moz-border-radius:3px 3px 3px 3px;
}
fieldset.horiz-form input[type="text"], fieldset.horiz-form input[type="password"] {
width:12em;
}
fieldset.horiz-form input.medium[type="text"], fieldset.horiz-form textarea.medium {
width:50%;
}
fieldset.horiz-form input.medium[type="text"] {
-moz-border-radius:3px 3px 3px 3px;
font-size:12px;
}
fieldset.horiz-form input.wider[type="text"], fieldset.horiz-form textarea.wider {
width:75%;
}
fieldset.horiz-form input.widest[type="text"], fieldset.horiz-form textarea.widest {
width:100%;
}
fieldset.horiz-form td[colspan="2"] {
text-align:right;
}
fieldset.horiz-form label {
font-weight:normal;
line-height:0;
white-space:nowrap;
}
fieldset.horiz-form ul li {
padding:5px 0;
}
fieldset.horiz-form ul li label {
display:block;
font-weight:bold;
}
fieldset.horiz-form ul li label sup {
color:#888888;
}
fieldset.horiz-form ul.options li {
margin:0;
padding:0;
}
fieldset.horiz-form ul.options li label {
font-weight:normal;
}
fieldset.horiz-form table.input-form th {
line-height:24px;
vertical-align:top;
}

fieldset.horiz-form input[type="text"], fieldset.horiz-form input[type="password"], fieldset.horiz-form textarea, fieldset.horiz-form select, fieldset.horiz-form checkbox {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #CCCCCC;
font-size:13px;
padding:4px 5px;
}

fieldset.horiz-form input[type="text"], fieldset.horiz-form input[type="password"] {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #CCCCCC;
font-size:13px;
padding:5px;
}