div#PersonDialogs { left:684px;
position:absolute;
top:27px;
width:310px; }
div#PersonDialogs a { float:left; padding:4px; }

div.degrees {
	width: 100%;
	float: left; }
	
div.specialties {
	width: 100%;
	float: left; }

div.formOption {
	border:1px solid #FFFFFF;
	display:block;
	float:left;
	margin:1px;
	padding:3px 6px; }
	
div.formOptionSelected {
	background-color:#AE6A2D;
	border:1px solid #000000;
	color:#FFFFFF; }
	
.specialtyOption {
	width: 30%;
	float: left;
	position: relative; }