#HeaderSubNav { background-color:#904b1b; }

a.HeaderTabOn { padding:7px 15px; float:left; text-decoration:none;background-image:url(../_images/Header_Tab4BG.gif); background-color:#bc800c; color:#FFF; }


/* CONTENT */
.ContentSubTitle { font-size:13px; font-weight:bold; color:#bc800c; padding-top:4px; margin-bottom:4px; border-bottom:1px solid #CCCCCC;  }

.TabControl {  border-bottom:3px solid #904b1b; }
.TabControl #current {
	background-color:#904b1b;
}
.TabControl #current A {
	background-color:#904b1b; PADDING-BOTTOM: 5px; COLOR: #FFF;
}
h2.ContentSectTitle { color:#FFF; background-color:#904b1b; }

div.ViewSection h3 { color:#FFF; background-color:#904b1b; }