#HeaderSubNav { background-color:#555555; }

a.HeaderTabOn { padding:7px 15px; float:left; text-decoration:none;background-image:url(/lms/_images/Header_Tab6BG.gif); background-color:#8d8d8d; color:#FFF; }


/* CONTENT */
.ContentSubTitle { font-size:13px; font-weight:bold; color:#747474; padding-top:4px; margin-bottom:4px; border-bottom:1px solid #CCCCCC;  }

.TabControl {  border-bottom:3px solid #555555; }
.TabControl #current {
	background-color:#555555;
}
.TabControl #current A {
	background-color:#555555; PADDING-BOTTOM: 5px; COLOR: #FFF;
}

h2.ContentSectTitle { color:#FFF; background-color:#555555; }
div.ViewSection h3 { color:#FFF; background-color:#555555; }

table.ViewSectionGrid thead tr th { background-color:#555555; color:#FFF; }