<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />	
                <rule name="LMS Redirect for Browse" stopProcessing="true">
                    <match url="lms/browse" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Activity.Browse" />
                </rule>
                <rule name="LMS Signup" stopProcessing="true">
                    <match url="lms/signup" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Main.Register" />
                </rule>
                <rule name="LMS About" stopProcessing="true">
                    <match url="lms/about" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Main.About" />
                </rule>
                <rule name="LMS Support" stopProcessing="true">
                    <match url="lms/support" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Main.Support" />
                </rule>
                <rule name="LMS Login" stopProcessing="true">
                    <match url="lms/login" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Main.Login" />
                </rule>
                <rule name="File Download" stopProcessing="true">
                    <match url="download/([a-zA-Z0-9._-]+)/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="admin/index.cfm/event/public.download?mode={R:1}&amp;modeId={R:2}&amp;fid={R:3}" />
                </rule>
                <rule name="LMS Activity" stopProcessing="true">
                    <match url="activity/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Activity.Detail?ActivityID={R:1}" />
                </rule>
                <rule name="LMS Event Split" stopProcessing="true">
                    <match url="lms/event/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/{R:1}.{R:2}" />
                </rule>
                <rule name="LMS Event" stopProcessing="true">
                    <match url="(lms|admin)/event/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}/index.cfm/event/{R:2}" />
                </rule>
                <rule name="LMS MemberHome" stopProcessing="true">
                    <match url="lms/home" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Member.Home" />
                </rule>
                <rule name="LMS Transcript" stopProcessing="true">
                    <match url="lms/transcript" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Member.Transcripts" />
                </rule>
                <rule name="LMS Preferences" stopProcessing="true">
                    <match url="lms/preferences" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Member.Account" />
                </rule>
                <rule name="LMS Site Maps" stopProcessing="true">
                    <match url="lms/sitemaps/([^/.]+).xml" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/_com/sitemap.cfc?method={R:1}&amp;returnformat=plain" />
                </rule>
                <rule name="LMS Cat" stopProcessing="true">
                    <match url="lms/category/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Activity.Browse?Category={R:1}&amp;Submitted=1" />
                </rule>
                <rule name="LMS Specialty 1" stopProcessing="true">
                    <match url="lms/specialty/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Activity.Browse?Specialty={R:1}&amp;Page={R:2}&amp;Submitted=1" />
                </rule>
                <rule name="LMS Specialty 2" stopProcessing="true">
                    <match url="lms/specialty/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/index.cfm/event/Activity.Browse?Specialty={R:1}&amp;Submitted=1" />
                </rule>
                <rule name="LMS Feeds 1" stopProcessing="true">
                    <match url="lms/feeds/([^/.]+)/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/_com/Feeds.cfc?method={R:1}&amp;Mode={R:2}&amp;&amp;ModeID={R:3}&amp;returnformat=plain" />
                </rule>
                <rule name="LMS Feeds 2" stopProcessing="true">
                    <match url="lms/feeds/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/_com/Feeds.cfc?method={R:1}&amp;Mode={R:2}&amp;returnformat=plain" />
                </rule>
                <rule name="LMS Feeds 3" stopProcessing="true">
                    <match url="feeds/([^/.]+)/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/_com/Feeds.cfc?method={R:1}&amp;Mode={R:2}&amp;&amp;ModeID={R:3}&amp;returnformat=plain" />
                </rule>
                <rule name="LMS Feeds 4" stopProcessing="true">
                    <match url="feeds/([^/.]+)/([^/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="lms/_com/Feeds.cfc?method={R:1}&amp;Mode={R:2}&amp;returnformat=plain" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom" />
        <staticContent>
            <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json" />
        </staticContent>
    </system.webServer>
</configuration>
