/*
* RESPONSIVE > MEDIUM > HUB
*/
@import "base_bootstrap";
.hub {    
  width: 100%;
  margin-top:0;
  .hub-body {
    position:relative;
    left:0;
    right:0;
    margin:auto;
    padding-left:inherit;
    padding-right:inherit;
    width:inherit;

    .titlebar {
      @include make-column(24);
      position:absolute;
      top:-175px;
      z-index:2;
      .title-text {
        .ContentTitle {
          font-size:20px;
        }
        @include clearfix();
        text-align:center;
      }

      .title-actions {
        text-align:center;
        @include make-column(24);
        @include clearfix();
        .action-buttons {
          margin-bottom: 9px;
          margin-right: 0;
          margin-top: 0;
          position: inherit;
          right: inherit;
          top: inherit;

          .btn-group {
            float:none;
          }
        }
      }
    }

    .content {
      border:0;
      margin: 0 -4.5px;
      border-radius:0;
      .hub-content {
        float: left;
        min-height: 1px;
        padding-left: inherit;
        padding-right: inherit;
        position: inherit;
        width: 100%;

        .content-inner {
          padding:0 5px;
        }

        .toolbar {
          @include gradient-vertical(#FFF,#F7F7F7);
          margin-left:-5.5px;
          margin-right:-5.5px;
          margin-bottom:0;
          position:relative;
          padding-left:10px;
          .SaveInfo {
            font-size:11px;
            color:#AAA;
            position:absolute;
            right:5px;
            top:-22px;
          }
        }
        .form-horizontal {
          margin-top:0;
        }
      }
      .content-title {
        > h3 {
          border-radius: 0 0 0 0;
          margin: 0;
        }
      }
      .btn-toolbar {
        margin:1px 0px 4px 0px;
      }
      .content-inner {
        
      }
    }

    .hub-infobar {
      margin:auto;
      max-width:300px;
      left:0;
      right:0;
      top: -104px;
      
      .infobar {
        h3 {
          background-color: #F8F6F6;
          border-bottom: 1px solid #E9EAED;
          border-top: 1px solid #E5E5E5;
          color: #807878;
          font-size: 13px;
          font-weight: bold;
          line-height: 24px;
          margin: 0;
          padding: 1px 6px;
        }
      }
      .infobar-point {
        right:70px;
      }
    }
  }
  .hub-bar {
    .box {
      background-color:transparent;
      border-radius: 0;
      border-style: solid;
      border-width: 0 0 1px 0;
      margin-top: 0;
      margin-left: -10px;
      margin-right: -10px;

      &:first-child {
        margin-top:-3px;
        margin-left: -10px;
        margin-right: -10px;
      }

      > .linkbar {
        overflow:hidden;
        width:100%;
        height:87px;
        ul.nav {
          height: 80px;
          margin-left: 5px;
          margin-top: 4px;
          overflow: hidden;
          width: 2000px;
          > li {
            &.active {
              background-color:transparent;
            }
            margin-top:0;
            display: inline-block;

            > a {
              $linkbarItemBg:#DDDDDD;
              @include box-shadow(0px 1px 2px rgba(#000,.15));
              background-color: $linkbarItemBg;
              border-radius:1px;
              border: 1px solid #CCC;
              float: left;
              height: 55px;
              margin: 5px 6px;
              padding: 0;
              text-align: center;
              width: 92px;
              
              .navItemCount {
                background-color: $ucRed;
                border-radius: 3px 3px 3px 3px;
                bottom: inherit;
                color: #FFFFFF;
                font-size: 13px;
                left: inherit;
                margin: auto;
                padding: 0 6px;
                position: absolute;
                right: -4px;
                text-align: center;
                top: -4px;
              }

              > div.text {
                color: #7f848b;
                font-size: 12px;
                font-weight: bold;
                overflow: hidden;
                padding: 0px 0;
                white-space:nowrap;
                margin:0;
                text-overflow: ellipsis;
                display: block;
                position:absolute;
                bottom:-23px;
                width:100%;
              }
              
              > i {
                font-size: 30px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 11px;
                width: 50px;
                color:#666666;
                text-shadow:1px 1px 1px #FBFCFD;
                
              }

              > span.menuArrow {
                display: none;
              }
            }
          }
        }
      }
      
      .profile-picture {
        background-size: cover;
        padding:0;
        margin:0;
      }
    }
  }
}