@import "base_bootstrap";
#header {
  .jpanel-nav {
    display:none;
  }
  .global-panes {
    position:absolute;
    right:0;
    top:0;

    .nav {
      &.navbar-nav {
        margin-top:0;
        margin-bottom:0;
      }
      > li {
        display:inline-block;
        > a {
          padding: 17px 8px 30px;
        }
      }
    }
  }
  .navbar {
    padding-left:0px;
    padding-right:0px;
    height: 48px;
    margin-bottom: 0;
    position: relative;

    &.navbar-inverse {
      @include gradient-vertical(#E11E27,#A21D20);
      border-color: darken($ucRed,15%);
      border-style: solid;
      border-width: 0 0px 2px 0px;
      
      .navbar-toggle {
        border:0;
        border-radius: 0;
        left: 5px;
        padding: 8px 12px;
        position: absolute;
        top: 7px;
        right:inherit;

        &:hover {
          background-color:rgba(#FFF,0.20);
          border-radius:4px;
        }
        .icon-bar {
          border-radius:0.75px;
          height:4px;
          box-shadow:0 1px 0px darken($ucRed,15%);
        }
        .icon-bar + .icon-bar {
          margin-top: 3px;
        }
        
      }
    }

    .navbar-brand {
      background-color: transparent;
      background-image: none;
      background-repeat: repeat-x;
      border-width: 0;
      color:#FFF;
      font-family: modernaregular;
      font-size: 37px;
      max-width: 122px;
      padding: 7px 15px;
      position: static;
      text-shadow: 0 1px 0px darken($ucRed,18%);
      text-transform: lowercase;

      div.cropper {
        height: 34px;
        line-height: 31px;
        overflow: hidden;
      }
    }
  }
}

#footer {
    border-top: 1px solid #CCCCCC;
    margin: 0 0;
    padding: 10px 0 20px 0;
}

.ui-dialog {
  &.is-mobile {
    border:0;
    border-radius:0;

    .ui-dialog-content {
      overflow:auto;
      iframe {
        width:100%;
      }
    }
  }
}