.uiToken{background:#e2e6f0;border:1px solid #9daccc;border-radius:2px;-webkit-border-radius:2px;color:#1c2a47;cursor:default;display:block;float:left;height:14px;margin:0 4px 4px 0;padding:0 3px;position:relative;white-space:nowrap}
.uiToken .remove{margin:2px 0 -2px 1px;outline:none}
.uiTokenSelected{background-color:#6d84b4;border-color:#3b5998;color:#fff}
.uiTokenizer{background:#fff}
.uiNormalTokenizer .uiTypeahead{width:100%}
.uiNormalTokenizer .tokenarea{overflow:hidden;padding-top:6px}
.uiInlineTokenizer{cursor:text;padding-left:2px;border:1px solid #bdc7d8}
.uiInlineTokenizer .uiToken{top:2px}
.uiInlineTokenizer .uiTypeahead{border:0;float:left}
.uiInlineTokenizer .uiTypeahead .wrap{border:0}
.uiInlineTokenizer .uiTypeaheadView{width:200px}
.uiInlineTokenizer .textInput[disabled]{background:#fff}

.fbHubsInfoPanel{padding-top:3px}
.fbHubsInfoPanel .photo{background:#eceff5;height:62px;width:62px}
.fbHubsInfoPanel .link{font-size:13px;font-weight:bold}
.fbHubsInfoPanel .linked .text,.fbHubsInfoPanel .link{display:none}
.fbHubsInfoPanel .linked .link{display:inline}
.fbHubsTokenizer{border-bottom:1px solid #bdc7d8;position:relative;width:100%}
.fbHubsTokenizer .uiTypeahead{border-bottom-width:0}
.fbHubsTokenizer .tokenarea{border-color:#ccc #bdc7d8;border-width:1px 1px 0;border-style:dashed solid;clear:both;overflow:hidden;padding:8px 5px}
.fbHubsTokenizer .eventsInput{background:#fff;border:0;height:0;left:1px;outline:0;position:absolute;top:1px;width:0}
.fbHubsTokenizer .drag{z-index:1}
.fbHubsTokenizer .droppable_placeholder{background:#ebebeb;border:0;padding:0}
.fbHubsTokenizer .hidden,.fbHubsTokenizer .hovered .droppable_placeholder{display:none}
.fbHubsTokenizer .expanded .hidden,.fbHubsTokenizer .expanded .droppable_placeholder{display:block}
.fbHubsPhotoTokenizer .tokenarea{background:url(http://static.ak.fbcdn.net/rsrc.php/zL/r/wErnZ_tAQMR.png) 10px 8px no-repeat;padding:8px 0 8px 10px}
.fbHubsPhotoTokenizer .shown{background-color:transparent;border:0;color:#333;height:auto;margin:0;padding:0 10px 8px 0;width:62px;white-space:normal;word-wrap:break-word}
.fbHubsPhotoTokenizer .shown .hubPhotoWrapper{background:#fff;display:block;margin-bottom:4px}
.fbHubsPhotoTokenizer .shown .hubPhotoLoading{background:#f2f2f2;height:62px;width:62px}
.fbHubsPhotoTokenizer .shown .hubPhoto{display: block;
vertical-align: bottom;
overflow: hidden;}
.fbHubsPhotoTokenizer .shown .text{display:block;height:28px;overflow:hidden}
.fbHubsPhotoTokenizer .hidden .hubPhotoWrapper{display:none}
.fbHubsPhotoTokenizer .uiTokenShownSelected{margin-top:-4px}
.fbHubsPhotoTokenizer .uiTokenShownSelected .hubPhotoWrapper{border:3px solid #627aad;margin:0 -4px}
.fbHubsPhotoTokenizer .uiTokenShownSelected .hubPhoto{border:1px solid #9daccb}
.fbHubsPhotoTokenizer .shownPlaceholder{height:62px !important;margin:0 10px 40px 0;width:62px !important;background:#f2f2f2}
.fbHubsPhotoTokenizer .hiddenPlaceholder{height:16px !important}
.fbHubsPhotoTokenizer .divider{margin-left:-10px;border-top-width:0}
.fbHubsPhotoTokenizer .noneShown .divider{background-color:transparent;padding-top:59px}
.fbHubsPhotoTokenizer .hovered .divider{background:#6d84b4;padding-top:1px}
.fbProfileEditPhilosophy .philosophyDescription{width:374px}
.editLikesRow th.label{padding-top:7px}