/* line 1, I:/ccpd_test/sass/button.scss */
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url("/images/fb/button-sprite.png") repeat scroll 0 0 #eeeeee;
  border-color: #999999 #999999 #888888;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: normal !important;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

/* line 19, I:/ccpd_test/sass/button.scss */
.uiButton + .uiButton {
  margin-left: 4px;
}

/* line 24, I:/ccpd_test/sass/button.scss */
.uiButton:hover {
  text-decoration: none;
}

/* line 27, I:/ccpd_test/sass/button.scss */
.uiButton:active, .uiButtonDepressed {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: none repeat scroll 0 0 #DDDDDD;
  border-bottom-color: #999999;
}

/* line 32, I:/ccpd_test/sass/button.scss */
.uiButton .img {
  vertical-align: top;
}

/* line 35, I:/ccpd_test/sass/button.scss */
.uiButtonMedium .img {
  margin-top: 2px;
}

/* line 38, I:/ccpd_test/sass/button.scss */
.uiButtonLarge .img {
  margin-top: 4px;
}

/* line 41, I:/ccpd_test/sass/button.scss */
.uiButton .customimg {
  margin-top: 0;
}

/* line 44, I:/ccpd_test/sass/button.scss */
.uiButton .uiButtonText, .uiButton input {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 1px 0 2px;
  white-space: nowrap;
}

/* line 58, I:/ccpd_test/sass/button.scss */
.ff3.mac .uiButtonMedium .uiButtonText, .ff3.mac .uiButtonMedium input {
  margin-bottom: -1px;
}

/* line 62, I:/ccpd_test/sass/button.scss */
.uiButton input::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

/* line 66, I:/ccpd_test/sass/button.scss */
.uiButtonDepressed, .uiButtonDepressed input {
  cursor: default;
}

/* line 69, I:/ccpd_test/sass/button.scss */
.uiButtonSpecial {
  background-color: #69A74E;
  background-position: 0 -96px;
  border-color: #3B6E22 #3B6E22 #2C5115;
  color: #FFFFFF;
}

/* line 75, I:/ccpd_test/sass/button.scss */
.uiButtonSpecial:active {
  background: none repeat scroll 0 0 #609946;
  border-bottom-color: #3B6E22;
}

/* line 79, I:/ccpd_test/sass/button.scss */
.uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active {
  background: none repeat scroll 0 0 #69A74E;
  border-bottom-color: #3B6E22;
}

/* line 83, I:/ccpd_test/sass/button.scss */
.uiButtonConfirm {
  background-color: #5B74A8;
  background-position: 0 -48px;
  border-color: #29447E #29447E #1A356E;
  color: #FFFFFF;
}

/* line 89, I:/ccpd_test/sass/button.scss */
.uiButtonConfirm:active {
  background: none repeat scroll 0 0 #4F6AA3;
  border-bottom-color: #29447E;
}

/* line 93, I:/ccpd_test/sass/button.scss */
.uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active {
  background: none repeat scroll 0 0 #5B74A8;
  border-bottom-color: #29447E;
}

/* line 97, I:/ccpd_test/sass/button.scss */
.uiButtonSpecial .uiButtonText, .uiButtonConfirm .uiButtonText, .uiButtonSpecial input, .uiButtonConfirm input {
  color: #FFFFFF;
}

/* line 100, I:/ccpd_test/sass/button.scss */
.uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled .img {
  -moz-box-shadow: none;
  cursor: default;
  opacity: 0.5;
}

/* line 105, I:/ccpd_test/sass/button.scss */
.uiButtonDisabled, .uiButtonDisabled:active {
  background: none repeat scroll 0 0 #F2F2F2;
}

/* line 108, I:/ccpd_test/sass/button.scss */
.uiButtonDisabled input {
  cursor: default;
}

/* line 111, I:/ccpd_test/sass/button.scss */
.uiButtonDefault.uiButtonDisabled, .uiButtonDefault.uiButtonDisabled:active {
  border-color: #C8C8C8;
  opacity: 1;
}

/* line 115, I:/ccpd_test/sass/button.scss */
.uiButtonDefault.uiButtonDisabled input, a.uiButtonDisabled .uiButtonText {
  color: #B8B8B8;
}

/* line 118, I:/ccpd_test/sass/button.scss */
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input {
  font-size: 13px;
}

/* line 121, I:/ccpd_test/sass/button.scss */
.uiButtonLarge {
  padding: 2px 6px;
}

/* line 126, I:/ccpd_test/sass/button.scss */
.uiButtonSuppressed {
  -moz-box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border-color: transparent;
}

/* line 133, I:/ccpd_test/sass/button.scss */
.uiButtonNoText .img {
  margin-left: -1px;
  margin-right: -1px;
}

/* line 137, I:/ccpd_test/sass/button.scss */
.uiCloseButton {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 143, I:/ccpd_test/sass/button.scss */
label.uiCloseButton {
  overflow: hidden;
}

/* line 146, I:/ccpd_test/sass/button.scss */
.uiCloseButton input {
  cursor: pointer;
  opacity: 0;
  outline: medium none;
  padding: 18px;
}

/* line 152, I:/ccpd_test/sass/button.scss */
.uiCloseButton {
  background-image: url("http://static.ak.fbcdn.net/rsrc.php/z5/r/Yz_2RL5XOEG.png");
  height: 15px;
  width: 15px;
}

/* line 157, I:/ccpd_test/sass/button.scss */
.uiCloseButtonSmall {
  background-image: url("http://static.ak.fbcdn.net/rsrc.php/za/r/1Be-brvKO2y.png");
  height: 11px;
  width: 11px;
}

/* line 162, I:/ccpd_test/sass/button.scss */
.uiCloseButtonSmallDeprecated {
  background-image: url("http://static.ak.fbcdn.net/rsrc.php/zb/r/fvbRNcqGJoq.gif");
}

/* line 165, I:/ccpd_test/sass/button.scss */
.uiCloseButtonDark {
  background-position: left -15px;
}

/* line 168, I:/ccpd_test/sass/button.scss */
.uiCloseButton:hover, .uiCloseButton:focus {
  background-position: left -30px;
}

/* line 171, I:/ccpd_test/sass/button.scss */
.uiCloseButton:active {
  background-position: left -45px;
}

/* line 174, I:/ccpd_test/sass/button.scss */
.uiCloseButtonSmallDark {
  background-position: left -11px;
}

/* line 177, I:/ccpd_test/sass/button.scss */
.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus {
  background-position: left -22px;
}

/* line 180, I:/ccpd_test/sass/button.scss */
.uiCloseButtonSmall:active {
  background-position: left -33px;
}

/* line 183, I:/ccpd_test/sass/button.scss */
.uiCloseButton.UIImageBlock_Ext, .uiCloseButton.rfloat, .uiCloseButton.lfloat {
  margin-top: 1px;
}

/* line 186, I:/ccpd_test/sass/button.scss */
.uiLinkButton input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #3B5998;
  cursor: pointer;
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* line 197, I:/ccpd_test/sass/button.scss */
.uiLinkButton input::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

/* line 201, I:/ccpd_test/sass/button.scss */
.uiLinkButton:hover, .uiLinkButton input:hover, .uiLinkButton input:focus, .uiLinkButton input:active {
  color: #3B5998;
  text-decoration: underline;
}

/* line 205, I:/ccpd_test/sass/button.scss */
.uiLinkButton input.async_saving {
  text-decoration: none;
}
