.editUI {     background-color: #F2F2F2;
    border: 1px solid #C7CFD5;
    bottom: 0;
    left: -21px;
    position: absolute;
    right: 0;
    top: -5px;
    width: 777px;
    z-index: -2;
}