/* line 1, I:/ccpd_test/sass/navigation.scss */
#navigation {
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
  width: 144px;
}

/* line 7, I:/ccpd_test/sass/navigation.scss */
#navigation a.head {
  background: #333333 url(/admin/_images/collapsed.gif) no-repeat scroll 3px 4px;
  background-position: left;
  cursor: default;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  margin: 0px;
  padding: 5px 0px;
  text-indent: 14px;
  text-decoration: none;
}

/* line 19, I:/ccpd_test/sass/navigation.scss */
#navigation a.head:hover {
  color: #EEEEEE;
}

/* line 22, I:/ccpd_test/sass/navigation.scss */
#navigation a.selected {
  background-image: url(/admin/_images/expanded.gif);
}

/* line 25, I:/ccpd_test/sass/navigation.scss */
#navigation a.current {
  background-color: #555555;
}

/* line 28, I:/ccpd_test/sass/navigation.scss */
#navigation ul {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
}

/* line 34, I:/ccpd_test/sass/navigation.scss */
#navigation li {
  list-style: none outside none;
  display: inline;
}

/* line 37, I:/ccpd_test/sass/navigation.scss */
#navigation li li a {
  color: #FFFFFF;
  display: block;
  text-indent: 10px;
  padding: 3px 0px;
  text-decoration: none;
}

/* line 44, I:/ccpd_test/sass/navigation.scss */
#navigation li li a:hover {
  background-color: #814000;
  color: #FFFFFF;
  text-decoration: underline;
}
