/* line 1, I:/ccpd_test/sass/util.scss */
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 2, I:/ccpd_test/sass/util.scss */
.clearfix {
  display: block;
  zoom: 1;
}

/* line 3, I:/ccpd_test/sass/util.scss */
.clearfix, .container {
  display: block;
}

/* line 4, I:/ccpd_test/sass/util.scss */
.clear {
  clear: both;
}

/* line 5, I:/ccpd_test/sass/util.scss */
.hide {
  display: none;
}

/* line 8, I:/ccpd_test/sass/util.scss */
.fsti {
  font-style: italic;
}

/* italic font */
/* font color */
/* line 11, I:/ccpd_test/sass/util.scss */
.fcl {
  color: #3e87b5;
}

/* light blue */
/* line 12, I:/ccpd_test/sass/util.scss */
.fcd {
  color: #4e6585;
}

/* dark blue */
/* line 13, I:/ccpd_test/sass/util.scss */
.fcgr {
  color: #488214;
}

/* warm green */
/* line 15, I:/ccpd_test/sass/util.scss */
.fcg {
  color: #808080!important;
}

/* gray font */
/* font size */
/* line 18, I:/ccpd_test/sass/util.scss */
.fss {
  font-size: 10px;
}

/*small*/
/* line 19, I:/ccpd_test/sass/util.scss */
.fsm {
  font-size: 11px;
}

/*medium*/
/* line 20, I:/ccpd_test/sass/util.scss */
.fsl {
  font-size: 12px;
}

/*large*/
/* line 21, I:/ccpd_test/sass/util.scss */
.fsxl {
  font-size: 15px;
}

/*extra-large*/
/* PADDING */
/* right */
/* line 25, I:/ccpd_test/sass/util.scss */
.prs {
  padding-right: 5px;
}

/* line 26, I:/ccpd_test/sass/util.scss */
.prm {
  padding-right: 8px;
}

/* line 27, I:/ccpd_test/sass/util.scss */
.prl {
  padding-right: 11px;
}

/* left */
/* line 30, I:/ccpd_test/sass/util.scss */
.pls {
  padding-left: 5px;
}

/* line 31, I:/ccpd_test/sass/util.scss */
.plm {
  padding-left: 8px;
}

/* line 32, I:/ccpd_test/sass/util.scss */
.pll {
  padding-left: 11px;
}

/* top */
/* line 35, I:/ccpd_test/sass/util.scss */
.pts {
  padding-top: 5px;
}

/* line 36, I:/ccpd_test/sass/util.scss */
.ptm {
  padding-top: 8px;
}

/* line 37, I:/ccpd_test/sass/util.scss */
.ptl {
  padding-top: 11px;
}

/* bottom */
/* line 40, I:/ccpd_test/sass/util.scss */
.pbs {
  padding-bottom: 5px;
}

/* line 41, I:/ccpd_test/sass/util.scss */
.pbm {
  padding-bottom: 8px;
}

/* line 42, I:/ccpd_test/sass/util.scss */
.pbl {
  padding-bottom: 11px;
}

/* MARGIN */
/* right */
/* line 46, I:/ccpd_test/sass/util.scss */
.mrs {
  margin-right: 5px;
}

/* line 47, I:/ccpd_test/sass/util.scss */
.mrm {
  margin-right: 8px;
}

/* line 48, I:/ccpd_test/sass/util.scss */
.mrl {
  margin-right: 11px;
}

/* left */
/* line 51, I:/ccpd_test/sass/util.scss */
.mls {
  margin-left: 5px;
}

/* line 52, I:/ccpd_test/sass/util.scss */
.mlm {
  margin-left: 8px;
}

/* line 53, I:/ccpd_test/sass/util.scss */
.mll {
  margin-left: 11px;
}

/* top */
/* line 56, I:/ccpd_test/sass/util.scss */
.mts {
  margin-top: 5px;
}

/* line 57, I:/ccpd_test/sass/util.scss */
.mtm {
  margin-top: 8px;
}

/* line 58, I:/ccpd_test/sass/util.scss */
.mtl {
  margin-top: 11px;
}

/* bottom */
/* line 61, I:/ccpd_test/sass/util.scss */
.mbs {
  margin-bottom: 5px;
}

/* line 62, I:/ccpd_test/sass/util.scss */
.mbm {
  margin-bottom: 8px;
}

/* line 63, I:/ccpd_test/sass/util.scss */
.mbl {
  margin-bottom: 11px;
}

/* VERTICAL ALIGNMENT */
/* line 66, I:/ccpd_test/sass/util.scss */
.vat {
  vertical-align: top;
}

/* line 67, I:/ccpd_test/sass/util.scss */
.vam {
  vertical-align: middle;
}

/* line 68, I:/ccpd_test/sass/util.scss */
.vab {
  vertical-align: bottom;
}

/* line 70, I:/ccpd_test/sass/util.scss */
.lfloat {
  float: left;
}

/* line 71, I:/ccpd_test/sass/util.scss */
.rfloat {
  float: right;
}

/* line 73, I:/ccpd_test/sass/util.scss */
.lhs {
  line-height: 1.2em;
}

/* line 74, I:/ccpd_test/sass/util.scss */
.lhm {
  line-height: 1.4em;
}

/* line 75, I:/ccpd_test/sass/util.scss */
.lhl {
  line-height: 1.6em;
}

/* DISPLAY */
/* line 78, I:/ccpd_test/sass/util.scss */
.db {
  display: block !important;
}

/* line 79, I:/ccpd_test/sass/util.scss */
.dn {
  display: none !important;
}

/* line 80, I:/ccpd_test/sass/util.scss */
.di {
  display: inline !important;
}

/* line 81, I:/ccpd_test/sass/util.scss */
.dtc {
  display: table-cell !important;
}

/* line 82, I:/ccpd_test/sass/util.scss */
.pas {
  padding: 5px;
}

/* line 83, I:/ccpd_test/sass/util.scss */
.pam {
  padding: 10px;
}

/* line 84, I:/ccpd_test/sass/util.scss */
.pal {
  padding: 20px;
}

/* line 85, I:/ccpd_test/sass/util.scss */
.pts {
  padding-top: 5px;
}

/* line 86, I:/ccpd_test/sass/util.scss */
.ptm {
  padding-top: 10px;
}

/* line 87, I:/ccpd_test/sass/util.scss */
.ptl {
  padding-top: 20px;
}

/* line 88, I:/ccpd_test/sass/util.scss */
.prs {
  padding-right: 5px;
}

/* line 89, I:/ccpd_test/sass/util.scss */
.prm {
  padding-right: 10px;
}

/* line 90, I:/ccpd_test/sass/util.scss */
.prl {
  padding-right: 20px;
}

/* line 91, I:/ccpd_test/sass/util.scss */
.pbs {
  padding-bottom: 5px;
}

/* line 92, I:/ccpd_test/sass/util.scss */
.pbm {
  padding-bottom: 10px;
}

/* line 93, I:/ccpd_test/sass/util.scss */
.pbl {
  padding-bottom: 20px;
}

/* line 94, I:/ccpd_test/sass/util.scss */
.pls {
  padding-left: 5px;
}

/* line 95, I:/ccpd_test/sass/util.scss */
.plm {
  padding-left: 10px;
}

/* line 96, I:/ccpd_test/sass/util.scss */
.pll {
  padding-left: 20px;
}

/* line 97, I:/ccpd_test/sass/util.scss */
.phs {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 98, I:/ccpd_test/sass/util.scss */
.phm {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 99, I:/ccpd_test/sass/util.scss */
.phl {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 100, I:/ccpd_test/sass/util.scss */
.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 101, I:/ccpd_test/sass/util.scss */
.pvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 102, I:/ccpd_test/sass/util.scss */
.pvl {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 103, I:/ccpd_test/sass/util.scss */
.mas {
  margin: 5px;
}

/* line 104, I:/ccpd_test/sass/util.scss */
.mam {
  margin: 10px;
}

/* line 105, I:/ccpd_test/sass/util.scss */
.mal {
  margin: 20px;
}

/* line 106, I:/ccpd_test/sass/util.scss */
.mts {
  margin-top: 5px;
}

/* line 107, I:/ccpd_test/sass/util.scss */
.mtm {
  margin-top: 10px;
}

/* line 108, I:/ccpd_test/sass/util.scss */
.mtl {
  margin-top: 20px;
}

/* line 109, I:/ccpd_test/sass/util.scss */
.mrs {
  margin-right: 5px;
}

/* line 110, I:/ccpd_test/sass/util.scss */
.mrm {
  margin-right: 10px;
}

/* line 111, I:/ccpd_test/sass/util.scss */
.mrl {
  margin-right: 20px;
}

/* line 112, I:/ccpd_test/sass/util.scss */
.mbs {
  margin-bottom: 5px;
}

/* line 113, I:/ccpd_test/sass/util.scss */
.mbm {
  margin-bottom: 10px;
}

/* line 114, I:/ccpd_test/sass/util.scss */
.mbl {
  margin-bottom: 20px;
}

/* line 115, I:/ccpd_test/sass/util.scss */
.mls {
  margin-left: 5px;
}

/* line 116, I:/ccpd_test/sass/util.scss */
.mlm {
  margin-left: 10px;
}

/* line 117, I:/ccpd_test/sass/util.scss */
.mll {
  margin-left: 20px;
}

/* line 118, I:/ccpd_test/sass/util.scss */
.mhs {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 119, I:/ccpd_test/sass/util.scss */
.mhm {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 120, I:/ccpd_test/sass/util.scss */
.mhl {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 121, I:/ccpd_test/sass/util.scss */
.mvs {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 122, I:/ccpd_test/sass/util.scss */
.mvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 123, I:/ccpd_test/sass/util.scss */
.mvl {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 124, I:/ccpd_test/sass/util.scss */
.fss {
  font-size: 9px;
}

/* line 125, I:/ccpd_test/sass/util.scss */
.fsm {
  font-size: 11px;
}

/* line 126, I:/ccpd_test/sass/util.scss */
.fsl {
  font-size: 13px;
}

/* line 127, I:/ccpd_test/sass/util.scss */
.fsxl {
  font-size: 16px;
}

/* line 128, I:/ccpd_test/sass/util.scss */
.fsxxl {
  font-size: 18px;
}

/* line 129, I:/ccpd_test/sass/util.scss */
.fwn {
  font-weight: normal;
}

/* line 130, I:/ccpd_test/sass/util.scss */
.fwb {
  font-weight: bold;
}

/* line 131, I:/ccpd_test/sass/util.scss */
.fcb {
  color: #333;
}

/* line 132, I:/ccpd_test/sass/util.scss */
.fcg {
  color: #808080;
}

/* line 133, I:/ccpd_test/sass/util.scss */
.brs {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 139, I:/ccpd_test/sass/util.scss */
.brm {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 145, I:/ccpd_test/sass/util.scss */
.brl {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 151, I:/ccpd_test/sass/util.scss */
.bss {
  -moz-box-shadow: 3px 3px 0px #dde1e7;
  -webkit-box-shadow: 3px 3px 0px #dde1e7;
  box-shadow: 3px 3px 0px #dde1e7;
}

/* line 156, I:/ccpd_test/sass/util.scss */
.posrel {
  position: relative;
}

/* line 157, I:/ccpd_test/sass/util.scss */
.posabs {
  position: absolute;
}

/* line 159, I:/ccpd_test/sass/util.scss */
.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 165, I:/ccpd_test/sass/util.scss */
.ofh {
  overflow: hidden;
}

/* line 169, I:/ccpd_test/sass/util.scss */
.rowSelected {
  background-color: #FFFFDD;
}

/* line 171, I:/ccpd_test/sass/util.scss */
.noborder {
  border: none;
}

/* line 172, I:/ccpd_test/sass/util.scss */
.topborder {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* line 173, I:/ccpd_test/sass/util.scss */
.bottomborder {
  border-left: none;
  border-right: none;
  border-top: none;
}

/* line 174, I:/ccpd_test/sass/util.scss */
.uiBoxGray {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

/* line 175, I:/ccpd_test/sass/util.scss */
.uiBoxWhite {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* line 176, I:/ccpd_test/sass/util.scss */
.uiBoxLightblue {
  background-color: #edeff4;
  border: 1px solid #d8dfea;
}

/* line 177, I:/ccpd_test/sass/util.scss */
.uiBoxRed {
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
}

/* line 178, I:/ccpd_test/sass/util.scss */
.uiBoxYellow {
  background-color: #fff9d7;
  border: 1px solid #e2c822;
}

/* line 179, I:/ccpd_test/sass/util.scss */
.uiBoxOverlay {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #3b5998;
  border: 1px solid rgba(59, 89, 153, 0.65);
  zoom: 1;
}
