Options +FollowSymLinks

RewriteEngine On
RewriteBase /admin/

#MAIN RULE
RewriteRule ^event/([a-zA-Z0-9._-]+)$ /index.cfm/event/$1 [NC,QSA]

#STANDARD INFO PAGES
#RewriteRule ^activity/([a-zA-Z0-9._-]+)$ /index.cfm/event/Activity.Detail?activityid=$1 [NC]
#RewriteRule ^about$ /index.cfm/event/Main.About	[NC]
#RewriteRule ^browse$ /index.cfm/event/Activity.Browse	[NC]
#RewriteRule ^home$ /index.cfm/event/Member.Home	[NC]
#RewriteRule ^signup$ /index.cfm/event/Main.Register	[NC]
#RewriteRule ^support$ /index.cfm/event/Main.Support	[NC]
#RewriteRule ^transcript$ /index.cfm/event/Member.Transcripts	[NC]
#RewriteRule ^preferences$ /index.cfm/event/Member.Account	[NC]
#RewriteRule ^login$ /index.cfm/event/Main.Login  [NC]
#
#RewriteRule ^category/([^/.]+)$ /index.cfm/event/Activity.Browse?Category=$1&Submitted=1	[NC]
#RewriteRule ^specialty/([^/.]+)/([^/.]+)$ /index.cfm/event/Activity.Browse?Specialty=$1&Page=$2&Submitted=1	[NC]
#RewriteRule ^specialty/([^/.]+)$ /index.cfm/event/Activity.Browse?Specialty=$1&Submitted=1	[NC]
#
#RewriteRule ^feeds/([^/.]+)/([^/.]+)/([^/.]+)$ /_com/Feeds.cfc?method=$1&Mode=$2&&ModeID=$3&returnformat=plain	[NC]
#RewriteRule ^feeds/([^/.]+)/([^/.]+)$ /_com/Feeds.cfc?method=$1&Mode=$2&returnformat=plain	[NC]
#RewriteRule ^sitemaps/([^/.]+).xml$ /_com/sitemap.cfc?method=$1&returnformat=plain	[NC]
#
#RewriteRule ^support/kb/([^/.]+)$ /support/index.php/kb/$1  [NC]
#RewriteRule ^support/([^/.]+)$ /support/index.php/$1  [NC]