/* the overlayed element */ 
.simple_overlay {
background-color:#FFFFFF;
border:1px solid #666666;
display:none;
min-height:200px;
width:620px;
z-index:10000;
}
 
/* close button positioned on upper right corner */ 
.simple_overlay .close { 
    background-image:url(/admin/_images/icons/overlay_close.png); 
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}