/* FULL SIZE */
.StepStatus1, .StepStatus2, .StepStatus3, .StepStatus4 {
	padding:4px;
	color:#FFF;
	border:1px solid #555;
}
.StepStatus1 { background-color:#CC6600; } /* Waiting */
.StepStatus2 { background-color:#CC0000; } /* Not Started */
.StepStatus3 { background-color:#666666; } /* Done */
.StepStatus4 { background-color:#009900; } /* In Process */

/* POD SIZE */
.StepStatusPod1, .StepStatusPod2, .StepStatusPod3, .StepStatusPod4 {
	padding:2px;
	font-size:12px;
}
.StepStatusPod1 { color:#CC6600; } /* Waiting */
.StepStatusPod2 { color:#CC0000; } /* Not Started */
.StepStatusPod3 { color:#666666; } /* Done */
.StepStatusPod4 { color:#009900; } /* In Process */