#HeaderSubNav { background-color:#3d901b; }


a.HeaderTabOn { padding:7px 15px; float:left; text-decoration:none;background-image:url(../_images/Header_Tab2BG.gif); background-color:#23a226; color:#FFF; }


/* CONTENT */
.ContentSubTitle { font-size:13px; font-weight:bold; color:#814000; padding-top:0px; margin-bottom:4px; border-bottom:1px solid #CCCCCC;  }


.TabControl {  border-bottom:3px solid #3d901b; }

.TabControl ul li.current a {
background-color:#3D901B;
background:-moz-linear-gradient(center top , #62C639, #3D901B) repeat scroll 0 0 #3D901B;
border-color:#3D901B;
border-style:solid;
border-width:1px 1px 0;
font-weight:bold;
text-shadow:0 -1px rgba(0, 0, 0, 0.45);
}

.history-filter ul li.current a { background-color:#3D901B;
background:-moz-linear-gradient(center top , #62C639, #3D901B) repeat scroll 0 0 #3D901B;
border-color:#3D901B; color:#FFF; }


h2.ContentSectTitle { color:#FFF; background-color:#3d901b; }

div.FormTabs { background-color:#3d901b; }

div.ViewSection h3 { color:#FFF; background-color:#3d901b; }