#HeaderSubNav { background-color:#ae6a2d; }
a.HeaderTabOn { padding:7px 15px; float:left; text-decoration:none;
background-color:#ae6a2d;
background:-moz-linear-gradient(center top , #EF903B, #ae6a2d) repeat scroll 0 0 #ae6a2d; color:#FFF; }


/* CONTENT */
.ContentSubTitle { font-size:13px; font-weight:bold; color:#b8b31e; padding-top:4px; margin-bottom:4px; border-bottom:1px solid #CCCCCC;  }

.TabControl {  border-bottom:3px solid #ae6a2d; }
.TabControl ul li.current a {
background-color:#ae6a2d;
background:-moz-linear-gradient(center top , #EF903B, #ae6a2d) repeat scroll 0 0 #ae6a2d;
border-color:#ae6a2d;
border-style:solid;
border-width:1px 1px 0;
font-weight:bold;
text-shadow:0 -1px rgba(0, 0, 0, 0.45);
}

h2.ContentSectTitle { color:#FFF; background-color:#ae6a2d; }

div.ViewSection h3 { color:#FFF; background-color:#ae6a2d; }

.history-filter ul li.current a { background-color:#ae6a2d; background:-moz-linear-gradient(center top , #EF903B, #ae6a2d) repeat scroll 0 0 #ae6a2d;
border-color:#ae6a2d; color:#FFF; }