div.ViewContainer { width:100%; }
div.ViewColumn { width:295px; margin:1px 1px 1px 1px; float:left; }
div.ViewSection {
font-size:12px;
margin-bottom:4px;
}
div.ViewSection h3 { background-image:url();
border-bottom:1px solid #000000;
font-size:13px;
font-weight:bold;
margin:1px 0;
padding:4px 6px; }
div.ViewSection h4 { font-weight:bold; font-size:14px; padding:6px 6px 2px 6px; }
div.ViewSection p { margin:4px 0px 0px 6px; }
div.ViewSectionBlock { padding:2px 5px; }
table.ViewSectionDetail tr {  }
table.ViewSectionDetail tr td { padding:3px 5px; }
td.ViewSectionDetailLabel { width:120px;font-size:12px; color:#555; font-weight:bold;border-bottom:1px solid #DDD; }
td.ViewSectionDetailData { font-size:12px; color:#555; border-bottom:1px solid #DDD;}
.ViewSectionGrid {  }
table.ViewSectionGrid thead tr th { text-align:left;padding: 3px 5px; font-size:13px; background-color:#888; color:#FFF; }
table.ViewSectionGrid thead tr th a { color:#FFF; text-decoration:none; }
table.ViewSectionGrid tbody tr td { padding: 3px 5px; font-size:12px; border-bottom:1px solid #DDD; }
table.ViewSectionGrid tbody tr td a { font-size: 12px; font-weight:bold; color:#000; text-decoration:none; }
table.ViewSectionGrid tbody tr td a:hover { font-size: 12px; font-weight:bold; color:#000; text-decoration:underline; }

table.ViewSectionGrid.DetailView tbody tr td a { font-size: 14px; font-weight:bold; color:#000; text-decoration:none; }
table.ViewSectionGrid.DetailView tbody tr td a:hover { font-size: 14px; font-weight:bold; color:#000; text-decoration:underline; }

div.ViewSectionButtons { -moz-border-radius:3px 3px 3px 3px;
background-color:#F7F7F7;
border:1px solid #CCCCCC;
margin-bottom:8px;
padding:3px;  }
div.ViewSectionButtons input { font-size:11px; font-family:Arial, Helvetica, sans-serif; }
div.ViewSectionButtons span { font-size:10px; color:#999; }