@import "base_bootstrap";
.activity {
  
	.personFinder {
    display:block;
    height:auto;
    left:0!important;
    margin:0 auto;
    outline:0 none;
    overflow:hidden;
    position:fixed!important;
    right:0!important;
    top:100px!important;
    width:650px!important;
    z-index:1003;
  }
  #PublishState {
    .btn-toolbar {
      .btn-group {
        .progress {
          margin-bottom:0;
        }
      }
    }
  }

  #ActivityStats {
    .stats-refresher {
      display:none;
    }
    &:hover {
      .stats-refresher {
        display:block;
      }
    }
  }
  .attendee-filter-btn {
    width:103px;
  }

  .sponsor-radios {
    display:none;
  }
  
  .stats-refresher {
    position: absolute;
    right: 9px;
    top: 79px;
  }
}