@import "base_bootstrap";
.activity {
	.personFinder {
    display:block;
    height:auto;
    left:0!important;
    margin:0 auto;
    outline:0 none;
    overflow:hidden;
    position:fixed!important;
    right:0!important;
    top:100px!important;
    width:650px!important;
    z-index:1003;
  }
  #PublishState {
    .btn-toolbar {
      .btn-group {
        .progress {
          margin-bottom:0;
        }
      }
    }
  }
  
  .sponsorship-fields {
    .controls {
      > .btn-group {
        @include make-column(12);
        float:left;
        .btn {
          &:first-child {
            width:50%;
          }
          &:last-child {
            width:50%;
          }
        }
      }
      #JointlyTextFld {
        @include make-column(12);
      }
    }
  }


  #ActivityStats {
    .stats-refresher {
      display:none;
    }
    &:hover {
      .stats-refresher {
        display:block;
      }
    }
  }
  .attendee-filter-btn {
    width:135px;
  }

  .sponsor-radios {
    display:none;
  }
  
  .stats-refresher {
    height: 157px;
    position: absolute;
    right: 8px;
    i {
      color: #000000;
      left: 10px;
      margin-left: -9px;
      margin-top: -16px;
      position: absolute;
      top: 21px;
    }
    top: 85px;
    width: 158px;
    @include opacity(.7);
  }

  .overview-buttons {
    margin-top:4px;
    margin-bottom:4px;
    
    .btn-group {
      @include make-row();
      width:100%;

      .btn {
        @include make-column(12);
      }
    }
  }
}