@import "base_bootstrap";
.dialog {
  display:none;
}
.modal-body {
    max-height: 400px;
    overflow-y: visible;
    padding: 15px;
    position: relative;
}
.ui-dialog-content,.modal-body,.no-layout {
  .form-horizontal {
    padding:10px;
    .control-group-heading {
      span.text {
          font-size:13px;
          color:#AAA;
          font-style:italic;
          line-height:30px;
      }
    }
    .control-label {
      color: #666666;
      font-weight: bold;
      padding-right: 10px;
      width: 100px;
      font-size:12px;
    }
    .controls {
      margin-left: 115px;
      span.text {
        line-height:30px;
        color:#999;

        a {
          color:#999;
        }
      }
      .input-prepend {
        input {
          @include border-radius(0px 3px 3px 0px);
        }
      }
    }
    .control-group {
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    div.divider {
      > hr {
        background: none repeat scroll 0 0 #D9D9D9;
        border-width: 0;
        color: #D9D9D9;
        height: 1px;
        margin: 4px 0 9px;
      }
    }
  }
}