@import "base_bootstrap";
$inputHeight:30px;
.form-horizontal {
  .control-group-heading {
    span {
      font-size:13px;
      color:#AAA;
      font-style:italic;
      line-height:30px;
    }
  }
  div.divider {
    > hr {
      background: none repeat scroll 0 0 #D9D9D9;
      border-width: 0;
      color: #D9D9D9;
      height: 1px;
      margin: 4px -6px 9px -4px;
    }
  }
  .control-group {
    @include make-row();
    margin-bottom: 0;
    padding-bottom: 5px;

    &.full-name {
      .controls {
        input[type=text] {
          width:25%;
          float:left;
          border-radius:0;
          margin-left:-1px;
          
          &:first-child {
            border-top-right-radius:0;
            border-top-left-radius:3px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:3px;
          }
          &:last-child {
            border-top-right-radius:3px;
            border-top-left-radius:0;
            border-bottom-right-radius:3px;
            border-bottom-left-radius:0;
          }
        }
      }
    }
    &.address-street {
      .controls {
        input {
          &:first-child {
            margin-bottom:4px;
          }
        }
      }
    }

    .control-label {
      @include make-column(5);
      color: #666666;
      font-weight: bold;
      padding-right: 10px;
      font-size:12px;
      padding-top:7px;
    }


    .controls {
      @include make-column(19);
      
      label.radio {
        &:first-child {
          margin-top:5px;
        }
        font-weight:normal;
      }

      label.checkbox {
        font-weight:normal;
      }

      select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
        border-color: rgba($ucRed, 0.8);
        box-shadow: 0 1px 1px rgba($ucRed, 0.075) inset, 0 0 8px rgba($ucRed, 0.6);
        outline: 0 none;
      }

      select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        border: 1px solid #CCCCCC;
        border-radius:3px;
        color: #555555;
        font-size: 12px;
        min-height: $inputHeight;
        padding: 5px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
      }

      select, input[type="file"] {
        height: $inputHeight;
        line-height: 20px;
      }
      
      .DatePicker {
        @include make-column(5);
      }
      
      .btn {
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.42857;
        margin-bottom: 0;
        padding: 5px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        float:right;
        @include box-shadow(0 1px 1px rgba(#000,.1));
      }
      input.btn {
        @include box-shadow(0 1px 1px rgba(#000,.1));
      }
    }
  }
}
form {
  .btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] {
      display: inline;
      line-height: 20px;
  }
  .controls {
    span.help-block {
      display:inline-block;
    }
  }
  .input-suggestions {
    > h4 {
      font-weight:bold;
      font-size:11px;
    }

    > .suggest-list {
      $suggestBG: #CCC;
      $suggestBGHover: darken($suggestBG,10%);
      $suggestBorder: darken($suggestBG,20%);
      $suggestBorderHover: darken($suggestBG,35%);
      $suggestText: $gray;
      $suggestTextHover: #FFF;

      > .item {
        line-height:30px;
        display:inline-block;
        > a {
            outline:none;
            background-color: $suggestBG;
            border-color: $suggestBorder;
            @include border-radius(4px);
            border-style: solid;
            border-width: 1px;
            color: $suggestText;
            margin: 0 4px 0 0;
            padding: 4px 9px;
            text-decoration:none;

            &:hover {
              color:$suggestTextHover;
              border-color:$suggestBorderHover;
              background-color: $suggestBGHover;
            }
        }
      }
    }
  }
}