@import "base_bootstrap";

.profile,.hub {
  &.main {
    .hub-infobar {
      display:none;
    }
    .hub-content {
      width: 100%;
    }
    .hub-bar {
      .box {
        &:first-child {
          .user-profile-area {
            display:block;
          }
          .profile-picture {
            display:none;
          }
        }
      }
    }
  }
}