@import "base_bootstrap";

.profile {
  position:relative;
  margin-top:14px;
  

  .profile-bg {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    bottom: 0;
    left: 149px;
    margin: auto;
    position: absolute;
    top: -19px;
    width: 799.5px;
    z-index: -1;
    
    .profile-bg-inner {
      background-color: #FFF;
      border-top: 1px solid #B3B3B3;
      bottom: 0;
      position: absolute;
      top: 60px;
      width: 799.5px;
    }
  }
  .hub-content {
    @include make-column(24);
  }
  
  &.infobar-active {
    .hub-content {
      @include make-column(18);
    }
  }

  .hub-infobar {
    @include make-column(6);
  }
  .titlebar {
    @include make-row();
    .title-text {
      @include make-column(16);
      white-space:nowrap;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 9px;
      margin-top: 11px;
      overflow:hidden;
      display:inline-block;
      width:100%;
      text-overflow:ellipsis;
    }
    .title-actions {
      @include make-column(8);
      white-space:nowrap;

      .action-buttons {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
        position: absolute;
        right: 1px;
        top:7px;

        a.btn {
          $btnTrimOpacity:0.35;
          border: 1px solid rgba(#000,$btnTrimOpacity);
          font-size: 12px;
          line-height: 15px;
          outline: 0 none;
          padding: 2px 0;
          width: 38px;
          background-color:rgba(#FFF,0.60);
          i {
            font-size:16px;
            color:rgba(#000,0.6);
            text-shadow:0 1px 1px rgba(#FFF,.60);
            font-weight:400;
            line-height:17px;
            font-style:normal;
          }
        }
      }
    }
  }

  &.slim {
    .content {
      .content-title {
        > h3 {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}