@import "base_bootstrap";

.profile,.hub {
  position:relative;
  margin-top:14px;
  
  .hub-content {
    @include make-column(24);
  }
  
  &.infobar-active {
    .hub-content {
      @include make-column(18);
    }
  }

  .hub-infobar {
    @include make-column(6);
  }
  .titlebar {
    @include make-row();
    .title-text {
      @include make-column(16);
      white-space:nowrap;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 9px;
      margin-top: 11px;
      overflow:hidden;
      display:inline-block;
      width:100%;
      text-overflow:ellipsis;
    }
    .title-actions {
      @include make-column(8);
      white-space:nowrap;

      .action-buttons {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
        position: absolute;
        right: 1px;
        top:7px;

        a.btn {
          $btnTrimOpacity:0.35;
          border: 1px solid rgba(#000,$btnTrimOpacity);
          font-size: 12px;
          line-height: 15px;
          outline: 0 none;
          padding: 2px 0;
          width: 38px;
          background-color:rgba(#FFF,0.60);
          i {
            font-size:16px;
            color:rgba(#000,0.6);
            text-shadow:0 1px 1px rgba(#FFF,.60);
            font-weight:400;
            line-height:17px;
            font-style:normal;
          }
        }
      }
    }
  }

  &.slim {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    float:none;
    left:0;
    right:0;
    
    .content {
      padding-top:10px;
      min-height:inherit;
      .content-title {
        > h3 {
          margin: 0px -4.5px 7px;
        }
      }
    }
    .hub-body {
      //@include make-column(24);
      width:100%;
    }
  }
}