@import "twitter/bootstrap/_mixins";
.profile {
  position:relative;
  margin-top:9px;
  .profile-bg {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    bottom: 0;
    left: 149px;
    margin: auto;
    position: absolute;
    top: -19px;
    width: 799px;
    z-index: -1;
    
    .profile-bg-inner {
      background-color: #F2F2F2;
      border-top: 1px solid #B3B3B3;
      bottom: 0;
      position: absolute;
      top: 60px;
      width: 799px;
    }
  }

  .titlebar {
    .ContentTitle {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      margin-top: 6px;
    }
    .action-buttons {
      margin-right: 5px;
      margin-top: 6px;
    }
  }
  
	.projectbar {
    word-wrap: break-word;
    .box {
      margin-top:10px;
      .thumbnail {
          border-radius: 4px 0 0 4px;
          border-width: 1px 0 1px 1px;
      }
    }

    .nav {
      li {
        a {
          margin-right: 1px;
          padding: 2px 2px 2px 5px;
          i {

          }

          span {
            
          }
        }
        
        &.active {
          a {
            background-color:#EFEFEF;
          }
        }
      }
    }
  }
  .content {
    h3 {
      background-color: #E3E3E3;
      border-bottom: 1px solid #D9D9D9;
      border-top: 1px solid #E5E5E5;
      font-size: 13px;
      font-weight: bold;
      line-height: 22px;
      margin-left:-10px;
      margin-right:-4px;
      margin-bottom: 5px;
      margin-top: 0;
      padding: 1px 6px;
      
    }
    .toolbar,.content-inner {
    }

    &.show-infobar {
      .info-bar {
        display:block;
      }
    }
    
    .infobar {
      //padding:8px;
      background-color:#FFF;
      @include box-shadow(-4px 0 0px #dde1e7);
      .box {
        padding:3px 7px 0 7px;
      }
      h3 {
        margin-left:0;
        margin-right:0;
        background-color: #F2F2F2;
        border-bottom: 1px solid #D9D9D9;
        border-top: 1px solid #E5E5E5;
        font-size: 13px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 5px;
        margin-top: 0;
        padding: 1px 6px;
      }
    }
  }
}