@import "twitter/bootstrap/_mixins";
$borderColor: #d6d2d2 #dbd3d3 #d6d2d2 #dbd3d3;
.profile {
  position:relative;
  margin-top:9px;
  
  .profile-bg {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    bottom: 0;
    left: 149px;
    margin: auto;
    position: absolute;
    top: -19px;
    width: 799.5px;
    z-index: -1;
    
    .profile-bg-inner {
      background-color: #FFF;
      border-top: 1px solid #B3B3B3;
      bottom: 0;
      position: absolute;
      top: 60px;
      width: 799.5px;
    }
  }

  .titlebar {
    .ContentTitle {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      margin-top: 6px;
    }
    .action-buttons {
      a.btn {
        height: 16px;
        line-height: 16px;
        font-size:12px;

        i {
          font-size:15px;
          font-weight:400;
          line-height:17px;
          font-style:normal;
        }
      }
      margin-right: 5px;
      margin-top: 6px;
    }
  }
  
	
  
}