@import "twitter/bootstrap/_mixins";
.profile {
  position:relative;

  .profile-bg {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    bottom: 0;
    left: 160px;
    margin: auto;
    position: absolute;
    top: -19px;
    width: 799px;
    z-index: -1;
    
    .profile-bg-inner {
      background-color: #F2F2F2;
      border-top: 1px solid #B3B3B3;
      bottom: 0;
      position: absolute;
      top: 68px;
      width: 799px;
    }
  }

  .titlebar {
    margin-top:10px;
    .ContentTitle {
      font-size:16px;
      font-weight:bold;
    }
  }
  
	.projectbar {
    @include box-shadow(4px 0 0px #dde1e7);
    background-color: #EFEFEF;
    border: 1px solid #CFCFCF;
    padding: 10px 4px 4px 4px;
    
    word-wrap: break-word;
    
    .box {
      @include border-radius(7px);
      padding: 7px;
      margin: 3px 2px 8px 2px;
      background-color:#FFF;
      border:1px solid #CFCFCF;
    }

    .nav {
      li {
        a {
          padding:3px;
          i {

          }

          span {
            
          }
        }
        
        &.active {
          a {
            background-color:#EFEFEF;
          }
        }
      }
    }
  }
  .content {
    background-color:#FFF;
    
    .toolbar,.content-inner {
      margin:0 10px;
    }

    &.show-infobar {
      .info-bar {
        display:block;
      }
    }
    
    .infobar {
      //padding:8px;
      background-color:#FFF;
      @include box-shadow(-4px 0 0px #dde1e7);
      .box {
        padding:3px 7px 0 7px;
      }
      h3 {
        padding:0 0 0 5px;
        border-top: 1px solid #CFCFCF;
        font-size: 13px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 10px;
      }
    }
  }
}