@import "twitter/bootstrap/_mixins";
$break-small: 768px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

$borderColor: #d6d2d2 #dbd3d3 #d6d2d2 #dbd3d3;

.search {
  position:relative;
  @include clearfix();
  .btn-person-adder {
    display:none;
  }
  &.finder {
    .btn-person-adder {
      display:block;
    }
  }
  .pagination {
    @include clearfix();
  }
  .result-list {
    padding:0 5px;

    .divider {
      hr {
        margin:8px -8px 8px -15px;
      }

      &:first-child {
        height:11px;
        >hr {
          display:none;  
        }
        
      }
    }

    .result-item {
      @include clearfix();
      
      .result-image {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        height: 50px;
        width: 50px;
      }

      .result-body {
        margin-left:62px;
        padding-top:4px;

        .result-link {
          font-weight: bold;
          line-height: 15px;
          font-size:13px;
          
          > span.result-alias {
            color:#888;
            font-style:italic;
            font-weight:normal;
            display:none;
          }
        }

        .result-meta {
          font-size:11px;
          color:#AAA;
          cursor:default;
          margin-top: 2px;
          
          .label {
            font-size:11px;
            font-weight:normal;
          }

          i {
            &.status-active {
              color:#6CA52C;
            }
            &.status-ended {
              color:gray;
            }
            &.status-cancelled {
              color:#CD5152;
            }
            &.status-pending {
              color:#F3E767;
            }
          }

          span {
            line-height:16px;
            font-size:11px;
          }

          a {
            color:#AAA;
            text-decoration:none;

            &:hover {
              color:#333;
            }
          }
        }
      }
    }


  }
  .titlebar {
    .ContentTitle {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      margin-top: 6px;
    }
    .action-buttons {
      a.btn {
        height: 16px;
        line-height: 16px;
        font-size:12px;
        outline:0;
        i {
          font-size:15px;
          font-weight:400;
          line-height:17px;
          font-style:normal;
        }
      }
      margin-right: 5px;
      margin-top: 6px;
    }
  }

  .content {
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-color:$borderColor;
    //padding: 0 10px 10px 10px;
    @include border-radius(5px);
    .content-title {
      >h3 {
        background-color: #f0eded;
        border-bottom: 1px solid #d9d7d7;
        font-size: 13px;
        @include border-radius(5px 0 0 0);
        font-weight: bold;
        margin: 0 -4.5px 5px 0;
        display: block;
        line-height: 24px;
        padding: 2px 0 0 14px;
        color:#4f4646;
      }
    }
    
    > .ContentBody {
      > .ViewSection {
        > table {
            margin-bottom:0;
            tbody {
              tr {
                &:first-child {
                  > td {
                    border-top:0;
                }
              }
            }
          }
        } 
      }
    }
    

    table.profile-grid {
      margin-bottom:0px; 
      background-color:#FFF; 
    }
    
    .pagination {
      margin-left: 6px;
      margin-right: 6px;
    }
    .ViewSection {
      h3 {
        background-color: #F0EDED;
        border-bottom: 1px solid #D9D7D7;
        border-radius: 5px 0 0 0;
        color: #4F4646;
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 24px;
        //margin: 0 -9.5px 5px -10.5px;
        padding: 1px 6px;
      }
    }
    .content-inner {
      margin: 0 0px;
    }

    
  }
  
	
  .filters {
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-color:$borderColor;
    word-wrap: break-word;
    @include border-radius(5px);
    padding:0 10px 10px 10px;
    margin-top:0;
    position:relative;

    @include respond-to(medium-screens) {     
      margin-bottom:10px;
    }

    > h3 {
      background-color: #F0EDED;
      border-bottom: 1px solid #D9D7D7;
      border-radius: 5px 0 0 0;
      color: #4F4646;
      display: block;
      font-size: 13px;
      font-weight: bold;
      line-height: 24px;
      margin: 0 -9.5px 5px -10.5px;
      padding: 2px 0 0 14px;
    }

    form {
      margin:0;
      .control-label {
        color: #666666;
        font-weight: bold;
        padding-right: 10px;
        width: 74px;
        font-size:12px;
      }
      input[type="text"] {
        @include respond-to(medium-screens) {     
          float: left;
          margin-right: 4px;
          width: 20%; 
        }
      }
      .controls {
      }
      .control-group {
          margin-bottom: 0;
          padding-bottom: 5px;
      }
      div.divider {
        > hr {
          background: none repeat scroll 0 0 #D9D9D9;
          border-width: 0;
          color: #D9D9D9;
          height: 1px;
          margin: 4px 0 9px;
        }
      }
    }

    .box {
      margin-top:11px;

      &:nth-child(2) {

      }

      .thumbnail {
        background-color: #FFFFFF;
        @include border-radius(4px);
        border-width: 0px;
        border-color: #CCCCCC;
      }
    }

    .subnav {
      background-color:#EFEFEF;
      margin-right:1px;
    }
    .nav {
      li {
        &:first-child {
          margin-top:3px;
        }
        a {
          border-color: #FFF;
          border-style: solid;
          border-width: 1px 0;
          color: #333333;
          line-height: 24px;
          margin-right: 0;
          padding: 0 6px 0 8px;
          position:relative;
          span.menuArrow {
            background-image: asset-url("profile_menu_arrow.png");
            display: none;
            height: 14px;
            position: absolute;
            right: -7px;
            top: 6px;
            width: 7px;
          }
          &:active,&:focus,&:hover {
            outline: 0;
          }
          i {

          }

          span {
            
          }

          .navItemCount {
              padding-bottom: 2px;
          }
          .navItemCount {
            background-color: #D8DFEA;
            @include border-radius(2px 2px 2px 2px);
            color: #3B5998;
            font-weight: bold;
            left: -1px;
            line-height: 18px;
            padding: 0 4px;
            position: relative;
            top: 3px;
          }
        }
        
        &.active {
          a {
            cursor:default;
            border-color: #EEE;
            font-weight:bold;
            border-width: 1px 0;
            color: #4e3737;
            background-color:#F7F7F7;
            //@include box-shadow(1px 1px 1px #000);
            span.menuArrow {
              display: block;
            }
          }
        }
      }
    }
  }
}

.no-layout {
  .searchbar {
    background-color:#EEE;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    display:block;
    width:100%!important;
    .btn-create {
      position:absolute;
      right:10px;
    }
    h3 {
      display:none;
    }
    form {
      > * {
        float: left;
        margin-bottom: 0;
        margin-left: 2px;
        width: 100px;
        &.btn {
          width:45px;
          height:30px;
        }
      }

    }
  }
  .search {
    margin-top: 47px;
    padding: 10px;
    width: 100% !important;
    .person-result {
      position:relative;
      .result-image {
        width:35px;
        height:35px;
      }
      .result-body {
        margin-left: 40px;
        padding-top: 4px;
      }
      .result-actions {
        position:absolute;
        right:0;
        top:0;
      }
    }
  }
}