@import "base_bootstrap";
$dialogTitleBG: #777;
$dialogTrim: #555;
.ui-dialog {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 10px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  left: 0 !important;
  margin: auto;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0 !important;
  top: 53px !important;

  .ui-dialog-titlebar {
    background-color: $dialogTitleBG;
    border-width:1px 1px 0px 1px;
    border-style:solid;
    @include border-radius(0);
    border-color: darken($dialogTrim,25%);
    font-size: 15px;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
    display:block;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    color:#FFF;
    .ui-dialog-title {
      color:#FFF;
      margin:0;
      line-height: 22px;
      padding:0 5px;
    }
  }

}
.ui-button-text-only .ui-button-text {
  padding: 1px 3px;
}
.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  background-color: #60B044;
  background-image: linear-gradient(#8ADD6D, #60B044);
  background-repeat: repeat-x;
  border-color: #5CA941;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-dialog-buttonset .ui-button:not(:first-child) {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #E6E6E6;
  background-image: linear-gradient(white, white 25%, #E6E6E6);
  background-repeat: no-repeat;
  border-color: #CCCCCC #CCCCCC #BBBBBB;
  color: #333333;
  margin-left:5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.ui-dialog-buttonset .ui-button {
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  overflow: visible;
  padding: 5px 14px 6px;
  transition: all 0.1s linear 0s;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: -8px;
  text-indent: 9999px;
}

.ui-dialog .ui-dialog-titlebar-close {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  height: 18px;
  line-height: 13.5px;
  margin: -9px 0 0;
  opacity: 1;
  padding: 1px;
  position: absolute;
  right: 0.3em;
  text-shadow: 0 1px 0 #FFFFFF;
  top: 50%;
  width: 19px;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;
    outline-offset: -2px;
}
select:focus > option {
  outline:none;
}
.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border-width: 0px 1px 1px 1px;
  border-color:$dialogTrim $dialogTrim #CCC #333;
  border-style:solid;
  padding: 0.5em 1em;
  position: relative;
  overflow:auto;
  @include clearfix();

  //IFRAME ZERO MARGIN
  iframe {
    position:absolute;
    left:0;
    right:0;
    top:0;
  }
}
.ui-dialog .ui-dialog-buttonpane {
  background-color: #F5F5F5;
  background-image: none;
  @include border-radius(0);
  border-style:solid;
  border-color: $dialogTrim $dialogTrim;
  border-width: 0px 1px 1px 1px;
  box-shadow: 0 1px 0 #FFFFFF inset;
  margin: 0 0 0;
  padding:2px 15px;
  text-align: left;
}
