.ckeditor {
  height:100px;
}

body.ckeditor-tweaks {
  margin:5px 5px 5px 11px;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}