.content-inner {
  .btn-toolbar {
    font-size: 0;
    margin-bottom: 4px;
    margin-top: 1px;
    padding-bottom:4px;
    border-bottom:1px solid #D9D9D9;
  }
}

form.formstate {
  margin:6px 0 20px;

  .cke_top {
    display:none;
  }
}
.SaveInfo {
float:right;
}