.profile {
  .Loading {
    
  }
  &.profile-wide {
    .content {
      padding-top: 4px;
      min-height: 500px;
      .content-title {
        color:#454545;
        border-bottom: 1px solid #EEEEEE;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        padding: 5px 10px 8px;
      }
    }
  }
  .content {
    min-height: 500px;
    position:relative;
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-color:$borderColor;
    @include border-radius(5px);
    .content-title {
      > h3 {
        background-color: #f0eded;
        border-bottom: 1px solid #d9d7d7;
        font-size: 13px;
        @include border-radius(5px 0 0 0);
        font-weight: bold;
        margin: 0 -4.5px 5px 0;
        display: block;
        line-height: 24px;
        padding: 2px 0 0 14px;
        color:#4f4646;
      }
    }
    table.profile-grid {
      margin-bottom:0px; 
      background-color:#FFF; 
    }
    .pagination {
      margin-left:auto;
      margin-right:auto;
    }
    .ViewSection {
      h3 {
        background-color: #E3E3E3;
        border-bottom: 1px solid #D9D9D9;
        border-top: 1px solid #D9D9D9;
        font-size: 13px;
        font-weight: bold;
        line-height: 22px;
        margin-left:-10px;
        margin-right:-4px;
        margin-bottom: 5px;
        margin-top: 0;
        padding: 1px 6px;
        &:before {
          content: "NEEDS REMOVED --->";
        }
      }
    }
    .content-inner {
      margin: 0 10px;
    }

    .content-inner {
      form {
        .control-label {
          color: #666666;
          font-weight: bold;
          padding-right: 10px;
          width: 100px;
          font-size:12px;
        }
        .controls {
          margin-left: 115px;
        }
        .control-group-heading {
          span {
            font-size:13px;
            color:#AAA;
            font-style:italic;
            line-height:30px;
          }
        }
        .control-group {
            margin-bottom: 0;
            padding-bottom: 5px;
        }
        div.divider {
          > hr {
            background: none repeat scroll 0 0 #D9D9D9;
            border-width: 0;
            color: #D9D9D9;
            height: 1px;
            margin: 4px 0 9px;
          }
        }
      }
    }
  }


  &.infobar-inactive {
    .content {
      .content-title {
        >h3 {
          border-radius: 5px 5px 0 0;
          margin: 0 0 5px 0;
        }
      }
    }
  }
}