.profile {
  .content {
    &.show-infobar {
      .info-bar {
        display:block;
      }
    }

    .infobar {
      padding-bottom:10px;
      //padding:8px;
      background-color:#FFF;
      border-bottom:2px solid #E2E2E2;

      @include box-shadow(-4px 0 0px #dde1e7);

      .box {
        padding:3px 7px 0 7px;
      }

      h3 {
        &:first-child {
          border-top:0;
          @include border-radius(0 2px 0 0);
        }
        background-color: #f8f6f6;
        border-bottom: 1px solid #E9EAED;
        border-top: 1px solid #E5E5E5;
        font-size: 13px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 -0.5px 5px 0;
        padding: 1px 6px;
        color:#807878;
      }
    }
  }
}