@import "twitter/bootstrap/base";
@import "./variables";
.profile {
  .projectbar {
    .box {
      background-color:#FFF;
      border-width:1px;
      border-style:solid;
      border-color:$borderColor;
      word-wrap: break-word;
      @include border-radius(5px);

      margin-top:10px;
      position:relative;
      &:first-child {
        margin-left: 0px;
        margin-top: 0px;
      }

      &:nth-child(2) {

      }

      .profile-picture {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto auto;
        min-height: 125px;
      }

      .profile-userbox {
        @include clearfix();
        padding:10px;
        .userbox-image {
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: auto auto;
          float:left;
          height:50px;
          width:50px;
        }
        .userbox-details {
          margin-left:62px;
          .userbox-link-profile {
            font-weight:bold;
          }
          .userbox-link-editprofile {
            font-weight:normal;
          }
        }
      }

      .thumbnail {
        background-color: #FFFFFF;
        @include border-radius(4px);
        border-width: 0px;
        border-color: #CCCCCC;
      }
    }


    ul.nav {
      &.subnav {
        display:none;
        @include box-shadow(0px 2px 3px #CCC inset);
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        margin-bottom: 0;
        padding-bottom: 3px;
        padding-top: 5px;
        //margin-right:1px;
        > li {
          &:first-child {
            margin-top:0;
          }
          &.active {
            background-color:transparent;
            a {
              &:hover {
                background-color:transparent;
              }
              border-width:1px 0;
              border-style:solid;
              border-color:transparent;
              background-color:transparent;
            }
          }
          a {
            &:hover {
              background-color:#F7F7F7;
            }
            border:0;
            margin:0 5px;
          }
        }
      }
      > li {
        &:first-child {
          margin-top:3px;
        }

        > a {
          border-color: #FFF;
          border-style: solid;
          border-width: 1px 0;
          color: #333333;
          line-height: 24px;
          margin-right: 0;
          padding: 0 6px 0 8px;
          position:relative;

          > span.menuArrow {
            background-image: asset-url("profile_menu_arrow.png");
            display: none;
            height: 14px;
            position: absolute;
            right: -7px;
            top: 6px;
            width: 7px;
          }

          > span.menuLoader {
            color: #E00122;
            font-size: 13px;
            position: absolute;
            right: 5px;
            top: 5px;
            transform-origin: 54% 55% 0;
            display:none;
            -o-transform-origin:54% 55% 0;
            -ms-transform-origin:54% 55% 0;
            -moz-transform-origin:54% 55% 0;
            -webkit-transform-origin:54% 55% 0;
          }


          &:active,&:focus,&:hover {
            outline: 0;
          }
          
          > i {

          }

          > span {
            
          }

          .navItemCount {
              padding-bottom: 2px;
          }
          .navItemCount {
            background-color: #D8DFEA;
            @include border-radius(2px 2px 2px 2px);
            color: #3B5998;
            font-weight: bold;
            left: -1px;
            line-height: 18px;
            padding: 0 4px;
            position: relative;
            top: 3px;
          }
        }
        
        &.active {
          > .subnav { display:block; }
          background-color:#EEE;
          > a {
            cursor:default;
            border-color: #EEE;
            font-weight:bold;
            border-width: 1px 0;
            color: #4e3737;
            background-color:#F7F7F7;
            //@include box-shadow(1px 1px 1px #000);
            span.menuArrow {
              display: block;
            }
          }
        }
        &.loading {
          > a {
            cursor:wait;
            > span.menuLoader {
              display:block;
            }
          }
        }
      }
    }

    
  }
}