@import "app/variables";
@import "app/util";
@import "app/colors";
@import "app/buttons";
@import "app/pagination";
@import "app/sprites-prefix";
@import "app/sprites";
@import "app/header";
@import "app/profile";
@import "app/profile/content";
@import "app/profile/infobar";
@import "app/profile/projectbar";
@import "app/profile/editor";
@import "app/forms";
@import "app/action_menu";
@import "app/activity";
@import "app/components/typeahead";
@import "app/components/jquery.autocomplete";
@import "app/ui-overrides";

body {
	font-size:12px;
}

h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
	font-size:12px;
	font-weight:normal;
}