.FieldInputErr {
	color: #DD3333;
	font-weight: bold; }
	
.error_list {
	color: #DD3333;
	font-weight: bold; }

.error_list ul li {
	list-style-type:decimal; }
	
.message_list {
	color: Green;
	font-weight: bold; }